.mobilelist {
  height: 56px;
  width: 100%;
  left: 16px;
  top: 267px;
  border-radius: 10px;
  background-color: #fcfcfb;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  line-height: 60px;
  margin-bottom: 8px;
}

.mobiletext {
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #065f8e;
}

.mobileicon {
  padding-top: 0.4rem;
  padding-left: 0.1rem;
  font-size: 25px;
  color: #065f8e;
}

.mobilecircle {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  border: 1px solid #065f8e;
  border-radius: 50%;
}

.lastline {
  margin-bottom: 155px;
}
.mobileline {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 19px;
}
.mobileform {
  margin-bottom: 30px;
}
