* {
  font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

/* 網站導覽列 */
.navbar {
  display: none;
}

/* 麵包屑 */
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 500;
  margin-left: 0.25rem;
  padding: 0px 0px 15px;
}

.allwraper {
  display: none;
  z-index: 2;
  position: absolute;
  top: -110px;
  width: 100%;
  height: 100%;
}

.showup {
  display: block;
}

.none {
  display: none;
}



/* 教師頁面返回按鈕 */
.TCback-btn {
  padding: 0px 15px;
  color: #065f8e;
}

/* 頁面英文標題 */
.pageName {
  display: none;
}

.calendardec-side,
.calendardec-insideblock {
  display: none;
}

.dec-side-m {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 64%;
  height: 315px;
  border-radius: 0px 0px 0px 50px;
  background-color: #f1ef5b;
  margin-left: auto;
  padding: 0;
  margin-bottom: 30px;
  z-index: -1;
}

.dec-insideblock-m {
  width: 90%;
  height: 296px;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 80px;
  margin-left: auto;
  padding: 0;
  position: relative;
}

.coursesection-m {
  display: block;
  width: 100%;
}

.calcourseitem{
  width: 100%;
  height: 271px;
  border: 1.25px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
}

.calcourseitemimg {
  width: 215px;
  height: 215px;
  object-fit: cover;
  border-radius: 30px;
}

.coursename {
  color: white;
  font-size: 14px;
  font-style: bold;
  top: 65%;
  left: 5%;
  margin-left: auto;
  position: absolute;
}

.teachername {
  color: white;
  font-size: 8px;
  font-style: bold;
  position: absolute;
  top: 75%;
  left: 5%;
}

.search,
.timetable,
.year_month {
  display: none;
}

.minicalendar {
  display: block;

  width: 100%;
  height: 100%;
  background-color: white;
}

.year_month-m {
  display: flex;
  justify-content: center;
  background-color: white;
}

.year_month-m a {
  color: black;
}

.miniarrowleft {
  margin-right: 25px;
}

.miniarrowright {
  margin-left: 25px;
}


.weekday-m,
.firstweek-m,
.secweek-m,
.thirdweek-m,
.forthweek-m,
.forthweek-m {
  background-color: white;
}

.bgicalendar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('http://localhost:3000/images/pic/背景圖素材/AdobeStock_367262423.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  /* 設置背景混和模式為相乘模式 */
  background-blend-mode: multiply;
  z-index: -3;
}



.h15 {
  width: 100%;
  height: 15px;
}





/* -------------以上為公用------------ */

@media (min-width: 768px) {

  /* 右上角白圈 */
  .whitecircle {
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0px;
    top: -126px;
    border: white 2px dashed;
    border-radius: 50%;
  }

  /* 網站主要導覽列 */
  .navbar {
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* 麵包屑 */
  .breadcrumb {
    padding: 0px;
  }

  /* 頁面英文標題 */
  .pageName {
    display: block;
    margin-bottom: 96px;
    margin-top: 96px;
    padding: 0;
  }

  .pageNameText {
    position: relative;
    color: black;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
  }

  .calendar::before {
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 18%;
    top: 55%;
  }

  /* -------------以上為公用--------- */

  /* 日曆 */

  .timetable {
    display: block;
    width: 844px;
    height: 747px;
    padding: 0px;
    overflow: hidden;
    z-index: -1;
  }

  .year_month {
    display: block;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: -1;
  }

  .month,
  .year {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .year {
    margin-left: 15px;
  }

  .weekday {
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    text-align: center;
  }

  .firstweek,
  .secweek,
  .thirdweek,
  .forthweek,
  .fifweek {
    background-color: white;
    font-size: 16px;
    width: 121px;
    height: 112px;
  }

  .search {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
  }

  .search span {
    font-weight: bold;
  }

  .mb150 {
    margin-bottom: 150px;
  }

  .calendardec-side {
    display: block;
    width: 45%;
    height: 600px;
    border-radius: 0px 0px 0px 180px;
    background-color: #f1ef5b;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    z-index: -1;
  }

  .calendardec-insideblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 150px;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
  }


  .startmycourse {
    display: block;
    border: 3px solid black;
    width: 100%;
    height: 125px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 125px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffffff;
  }

  .schedulecoursesection {
    width: 100%;
    position: absolute;
    top: 45%;
  }

  .calcourseitem{
    width: fit-content;
    height:fit-content;
    border: 1.25px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    margin:0px;
  }



  .calcourseitem img {
    width: 215px;
    height: 215px;
    border-radius: 30px;
  }


  .coursename {
    color: white;
    font-size: 18px;
    font-style: bold;
    top: 65%;
    left: 5%;
    margin-left: auto;
    position: absolute;
  }

  .teachername {
    color: white;
    font-size: 14px;
    font-style: bold;
    position: absolute;
    top: 85%;
    left: 10%;
  }

  .coursesection-m {
    display: none;
  }

  .minitable,
  .minicalendar,
  .year_month-m {
    display: none;
  }

  .rightarr {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 33%;
    transform: translate(30%, -50%);
    text-align: center;
    z-index: 1;
  }

  .closeicon {
    width: 38px;
    height: 38px;
    background-color:#ffffffff;
    border:1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top:40%;
    right:10%;
    font-size: 14px;
    z-index: 1;
  }







}