* {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}



/* 網站導覽列 */
.navbar {
  display: none;
}

.TCallwraper {
  z-index: -1;
  position: absolute;
  top: -110px;
  width: 100%;
}

/* 麵包屑 */
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 500;
  margin-left: .25rem;
  padding: 0px 0px 15px;
}

/* 頁碼 */

/* 手機logo */
.logo-m {
  margin: 40px auto 40px;
}

/* 會員中心sidebar */
.sidebar {
  display: none;
}






/* 手機板會變小的按鈕(有display變化) */
.TCbtn-sm-w-switch {
  display: flex;
  width: 73px;
  height: 30px;
}





/* 教師頁面返回按鈕 */
.TCback-btn {
  padding: 0px 15px;
  color: #065F8E;
}

/* 頁面英文標題 */
.pageName {
  display: none;
}


.calendardec-side,
.calendardec-insideblock {
  display: none;
}

.dec-side-m {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 64%;
  height: 315px;
  border-radius: 0px 0px 0px 50px;
  background-color: #F1EF5B;
  margin-left: auto;
  padding: 0;
  margin-bottom: 30px;
  z-index: -1;
}

.dec-insideblock-m {
  width: 90%;
  height: 296px;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 80px;
  margin-left: auto;
  padding: 0;
  position: relative;
}

.coursesection-m {
  display: block;
  width: 100%;

}


.courseitem {
  width: 100%;
  height: 271px;
  border: 1.25px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
}

.courseitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.coursename {
  color: white;
  font-size: 14px;
  font-style: bold;
  top: 65%;
  left: 5%;
  margin-left: auto;
  position: absolute;
}

.teachername {
  color: white;
  font-size: 8px;
  font-style: bold;
  position: absolute;
  top: 75%;
  left: 5%;
}

.search,
.timetable,
.year_month {
  display: none;
}

.minicalendar {
  display: block;

    width: 100%;
    height:100%;
    background-color: white;
  }


.year_month-m {
  display: flex;
  justify-content: center;
  background-color: white;
}

.year_month-m a {
  color: black;
}

.fa-chevron-left {
  margin-right: 25px;
}

.fa-chevron-right {
  margin-left: 25px;
}

.weekday-m,
.firstweek-m,
.secweek-m,
.thirdweek-m,
.forthweek-m,
.forthweek-m {
  background-color: white;
}






/* -------------以上為公用------------ */


@media (min-width: 768px) {

  /* 右上角白圈 */
  .whitecircle {
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0px;
    top: -126px;
    border: white 2px dashed;
    border-radius: 50%;

  }

 

  /* 網站主要導覽列 */
  .navbar {
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .mainContent {
    margin-top: 110px;
  }

  /* 麵包屑 */
  .breadcrumb {
    padding: 0px;
  }


  /* 手機版logo */
  .logo-m {
    display: none;
  }

  /* 頁面英文標題 */
  .pageName {
    display: block;
    margin-bottom: 96px;
    margin-top: 96px;
    padding: 0;
  }

  .pageNameText {
    position: relative;
    color: black;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.0;
  }



  .calendar::before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 18%;
    top: 55%;
  }



  

  /* -------------以上為公用--------- */

  /* 會員中心sidebar */
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  /* 頭像 */
  .sidebar .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* sidebar選項列 */
  .sidebar .nav_list {
    list-style: none;
    padding-left: 0;
    /* width: 100%; */
  }

  /* sidebar選項 */
  .sidebar .nav-item {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
  }

  .sidebar .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
    margin-left: 25px;
    background-color: transparent;
  }

  .sidebar .nav-item>a>i {
    font-size: 25px;
    width: 30px;
    background-color: transparent;
  }

  /* 選中的選項狀態 */
  .nav-item.active {
    background-color: white;
  }

  .nav-item.active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .sidebar .nav-item:hover {
    background-color: white;
  }



  /* 日曆 */

  .timetable {
    display: block;
    width: 844px;
    height: 747px;
    padding: 0px;
    overflow: hidden;
    z-index: -1;

  }

  .year_month {
    display: block;
    background-color: white;
    display: flex;
    justify-content: center;


  }

  .month,
  .year {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .year {
    margin-left: 15px;
  }

  .weekday {
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    text-align: center;
  }

  .firstweek,
  .secweek,
  .thirdweek,
  .forthweek,
  .fifweek {
    background-color: white;
    font-size: 16px;
    width: 121px;
    height: 112px;
  }



  .search {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;

  }

  .search span {
    font-weight: bold;
  }

  .mb150 {
    margin-bottom: 150px;
  }

  .calendardec-side {
    display: block;
    width: 45%;
    height: 800px;
    border-radius: 180px 0px 0px 180px;
    background-color: #F1EF5B;
    position: absolute;
    right: 0px;
    top: 300px;
    padding: 0;
    z-index: 1;

  }

  .calendardec-insideblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    border-radius: 180px 0px 0px 180px;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 1;
  }

  .startmycourse {
    display: block;
    border: 3px solid black;
    width: 100%;
    height: 125px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 125px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .schedulecoursesection {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;


  }



  .courseitem {
    max-width: 215px;
    height: 215px;
    border: 1.25px solid rgba(255, 255, 255, 1);
    border-radius: 30px;



  }

  .courseitem img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  .coursename {
    color: white;
    font-size: 14px;
    font-style: bold;
    top: 65%;
    left: 5%;
    margin-left: auto;
    position: absolute;
  }

  .teachername {
    color: white;
    font-size: 8px;
    font-style: bold;
    position: absolute;
    top: 75%;
    left: 5%;
  }



  .coursesection-m {
    display: none;
  }

  .minitable,
  .minicalendar,
  .year_month-m {
    display: none;
  }

  .rightarr {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 33%;
    transform: translate(30%, -50%);
    text-align: center;
    z-index: 1;
   
  }

  .fa-arrow-right,
  .fa-arrow-left {
    color: black;
    font-size: 32px;
    position: absolute;
    top: 14%;
    right:12%;
    
  }

  .leftarr {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left:70%;
    /* transform: translateY(-50%); */
    text-align: center;
    z-index: 1;

  }
}
