
    * {
      font-family: "Noto Sans", "Noto Sans TC", sans-serif;
    }


    /* 網站導覽列 */
    .navbar {
      display: none;
    }


    /* 麵包屑 */
    .breadcrumb {
      background-color: transparent;
      font-size: 14px;
      letter-spacing: -0.015em;
      font-weight: 500;
      margin-left: .25rem;
      padding: 0px 0px 15px;
    }

    /* 頁碼 */

    /* 手機logo */
    .logo-m {
      margin: 40px auto 40px;
    }

   


    /* 頁面英文標題 */
    .pageName {
      display: none;
    }

    /* -------------以上為公用------------ */
    .buynowbtn {
      display: flex;
      justify-content: center;
    }

    .buy-btn {
      background-color: transparent;
      border: #065F8E 1px solid;
      color: #065F8E;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

    }

    .buy-btn:hover {
      background-color: #065F8E;
      border: 1px solid transparent;
      color: white;
    }

    .remindingtext {
      font-size: 36px;
      color: #065F8E;
      font-weight: bold;
      text-align: center;
      margin-top: 0px;
    }

    .calendarsubtitle {
      display: block;
      font-size: 36px;
      font-weight: bold;
      margin-top: 70px;
      margin-bottom: 55px;
    }

    .calendarcourseitem {
      width: 100%;
      height: 271px;
      border: 1.25px solid rgba(255, 255, 255, 1);
      border-radius: 30px;
      position: relative;
    }

    .calendarcourseitem img {
      object-fit: cover;
      border-radius: 30px;
    }

    .coursename {
      color: white;
      font-size: 14px;
      font-style: bold;
      top: 65%;
      left: 5%;
      margin-left: auto;
      position: absolute;
    }

    .teachername {
      color: white;
      font-size: 8px;
      font-style: bold;
      position: absolute;
      top: 75%;
      left: 5%;
    }

    .mainContent {
      background-image: url("http://localhost:3000/images/其他/AdobeStock_367262423.jpeg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      /* 透明度0.6的黑色半透明遮罩 */
      background-color: rgba(0, 0, 0, 0.4);
      /* 設置背景混和模式為相乘模式 */
      background-blend-mode: multiply;
    }

    .calendarcoursesetion {
      margin: 0px;
      width: 100%;

    }

    .mb50 {
      margin-bottom: 50px;
    }

    .mb30 {
      margin-bottom: 30px;
    }

   
    .remindingarea {
      margin-left: auto;
      margin-right: auto;
    }

    .mo-show {
      display:block;
    }








    @media (min-width: 768px) {

      .full{
        height:100vh;
        width:100%;
      }

      .mainContent {
        background-image: none;
        background-color: transparent
      }

      body{
       background-image: url("http://localhost:3000/images/其他/AdobeStock_367262423.jpeg");
       background-position: top;
       background-repeat: no-repeat;
       background-size: cover;
       /* 透明度0.6的黑色半透明遮罩 */
       background-color: rgba(0, 0, 0, 0.4);
       /* 設置背景混和模式為相乘模式 */
       background-blend-mode: multiply;
      }




      /* 右上角白圈 */
      .whitecircle {
        position: absolute;
        width: 500px;
        height: 500px;
        right: 0px;
        top: -126px;
        border: white 2px dashed;
        border-radius: 50%;

      }


      /* 網站主要導覽列 */
      .navbar {
        z-index: 5;
        position: fixed;
        display: flex;
        top: 0;
        width: 100%;
        height: 80px;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .mainContent {
        margin-top: 110px;
      }

      /* 麵包屑 */
      .breadcrumb {
        padding: 0px;
      }


      /* 手機版logo */
      .logo-m {
        display: none;
      }

      /* 頁面英文標題 */
      .pageName {
        display: block;
        margin-bottom: 96px;
        margin-top: 96px;
        padding: 0;
      }

      .pageNameText {
        position: relative;
        color: black;
        font-size: 6rem;
        font-weight: bold;
        line-height: 1.0;
      }



      .calendar::before {
        content: "";
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #f1ef5b;
        position: absolute;
        z-index: -5;
        left: 18%;
        top: 55%;
      }


      /* -------------以上為公用--------- */

      /* 會員中心sidebar */
      .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }

      /* 頭像 */
      .sidebar .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 30px;
      }

      /* sidebar選項列 */
      .sidebar .nav_list {
        list-style: none;
        padding-left: 0;
        /* width: 100%; */
      }

      /* sidebar選項 */
      .sidebar .nav-item {
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 0px 10px 10px 0px;
        margin-bottom: 10px;
      }

      .sidebar .nav-item a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #065f8e;
        margin-left: 25px;
        background-color: transparent;
      }

      .sidebar .nav-item>a>i {
        font-size: 25px;
        width: 30px;
        background-color: transparent;
      }

      /* 選中的選項狀態 */
      .nav-item.active {
        background-color: white;
      }

      .nav-item.active::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 50px;
        background: #f1ef5b;
      }

      .sidebar .nav-item:hover {
        background-color: white;
      }



      /* 日曆 */

      .timetable {
        width: 844px;
        height: 747px;
        padding: 0px;
        overflow: hidden;


      }

      .year_month {
        background-color: white;
        display: flex;
        justify-content: center;


      }

      .month,
      .year {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .year {
        margin-left: 15px;
      }

      .weekday {
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        text-align: center;
      }

      .firstweek,
      .secweek,
      .thirdweek,
      .forthweek,
      .fifweek {
        background-color: white;
        font-size: 16px;
        width: 121px;
        height: 112px;
      }

      .plus {
        position: absolute;
        left: 20%;
        top: 24%;
      }

      .search {
        display: flex;
        justify-content: end;
        margin-bottom: 25px;

      }

      .search span {
        font-weight: bold;
      }

      .remindingtext {
        font-size: 36px;
        color: #065F8E;
        font-weight: bold;
        text-align: center;
        margin-top: 185px;
      }


      /* 這裡開始是課程商品 */

      .mb150 {
        margin-bottom: 150px;
      }

      
      .calendarcoursesetion,
      .calendarsubtitle,
      .calendarcourseitem {
        display: none;

      }

      .des-none {
        display: none;
      }



    }
