* {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}

.stcoursebgc-img {
  /* background-color: #F1F0E9; */
  /* background-image: url('http://localhost:3000/images/pic/背景圖素材/7656d57f.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* 透明度0.6的黑色半透明遮罩 
  background-color: rgba(0, 0, 0, 0.4);
  /* 設置背景混和模式為相乘模式 
  background-blend-mode: multiply; */

}

.navbar {
  display: none;
}

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 500;
  color: #065f8e;
  padding-bottom: 15px;
  margin: 0px;
  padding-left: 0px;
}

.bread>ol {
  list-style-type: none;
}

/* .mainpic {
  padding: 0;
} */


/* .dec-side,
.dec-insideblock {
  display: none;
} */

.dec-side-m {
  position: absolute;
  right: 0;
  top: 0;

  height: 316px;
  border-radius: 0px 0px 0px 50px;
  background-color: #F1EF5B;
  margin-left: auto;
  padding: 0;
  margin-bottom: 30px;
  z-index: -1;
}

.dec-insideblock-m {
  width: 90%;
  height: 284px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 80px;
  margin-left: auto;
  padding: 0;
  position: relative;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F1EF5B;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: -1;
}

.selectlanguage-m {
  display: block;
  border: 3px solid black;
  height: 63px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  line-height: 63px;
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 1;
}

.languagelist-m {
  display: block;
  line-height: 20px;
  background-color: hsl(0, 76%, 33%);
  /* position: absolute; */


}

.selection-m {
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;

}






@media (min-width: 768px) {




  .navbar {
    display: flex;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 30px; */
  }


  /* .mainpic {
    background-image: url('http://localhost:3000/images/pic/背景圖素材/7656d57f.jpg');
    ;
    background-position: top;
    background-repeat: no-repeat;
    height: 446px;
    background-size: cover;
  } */

  .dec-side {
    display: block;
    height: 574px;
    border-radius: 0px 0px 0px 180px;
    background-color: #F1EF5B;
    margin-left: auto;
    padding: 0;
    margin-bottom: 150px;
  }

  .dec-insideblock {
    display: block;
    width: 100%;
    height: 481px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 180px;
    margin-left: auto;
    padding: 0;
    position: relative;
  }

  .selectlanguage {
    display: block;
    border: 3px solid black;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    z-index: 1;
    margin-bottom: 10px;
  }

  .breadcrumb {
    background-color: transparent;
    font-size: 14px;

    letter-spacing: -0.015em;
    font-weight: 500;
    color: #065f8e;
    padding-bottom: 15px;
    margin-top: 30px;

  }

  .bread>ol {
    list-style-type: none;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F1EF5B;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: -1;
  }

  .languagelist {
    display: block;
    line-height: 20px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 50%;

    transform: translate(40%, -20%);
  }

  .selection {
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
  }

  .selection:hover {
    color: #065f8e;
    font-size: 20px;
  }

}