

/*=============== can ===============*/
:root {
  --hue-color: 190;

  --body-color: hsl(var(--hue-color), 100%, 99%);

  --title-color: hsl(var(--hue-color), 64%, 18%);

  --header-height: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;

    --z-fixed: 100;
}




/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
}


ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}



/*=============== HEADER ===============*/
.nav__header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

.nav__header .nav__singheader {
  position: relative;
-js-display: flex;
display:-webkit-box;
display: -webkit-flex;
display:-moz-box;
display:-ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  padding:0 165px 0 145px;
  box-sizing:border-box;
  height: 80px;
}


.nav__header .nav__singheader  .nav__pc_menu {
  max-width: 600px;
  -js-display: flex;
display:-webkit-box;
display: -webkit-flex;
display:-moz-box;
display:-ms-flexbox;
display: flex;
-webkit-justify-content: space-between;
  justify-content: space-between;
-webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  z-index:15;
  padding:30px 0 28px 35px

}
.nav__header .nav__singheader  .nav__pc_menu li {
  display:inline-block;
  margin-right: 30px;
}
.nav__header .nav__singheader  .nav__pc_menu li a {
  position: relative;
  display:inline-block;
  font-family:"Noto Sans";
  font-weight: bold;

}

.nav__header .nav__singheader  .nav__pc_menu li a::after {
position: absolute;
bottom: -12px;
left: 0;
content: '';
width: 100%;
height: 2px;
background: #242424;
transform: scale(0, 1);
transform-origin: left top;
transition: transform .3s;
}
.nav__header .nav__singheader  .nav__pc_menu li a:hover::after {
transform: scale(1, 1);
}
.nav__header .nav__singheader  .nav__pc_menu .en {
  font-size: 19px;
  font-weight: 700;
  color:#065f8e;
  display:block;
  margin-bottom: 8px;
  letter-spacing: 0;

-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__header .nav__singheader  .nav__pc_menu li a:hover .en,
.nav__header .nav__singheader  .nav__pc_menu li a:hover p{     
  /*
    letter-spacing: 1px;   
  */
  color:#242424;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__header .nav__singheader .nav__pc_menu p {
  font-size: 11px;
  font-weight: bold;
  color:#065f8e;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__header .nav__singheader .nav__fb_link:before{
  content:"";
  display: block;
  width: 30px;
  height: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin:auto;
  background-image:url(../img/header/narbar/input_icon.png);
  background-size:cover;
}


.nav__header .nav__singheader  .nav__pc_menu .nav__en {
  font-size: 19px;
  font-weight: 700;
  color:#065f8e;
  display:block;
  margin-bottom: 8px;
  letter-spacing: 0;

-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__header .nav__singheader .nav__insta_link:before{
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin:auto;
  background-image:url(../img/header/narbar/shoping_icon.png);
  background-size:cover;
}

.nav__header .nav__singheader .nav__fb_link:hover,
.nav__header .nav__singheader .nav__insta_link:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.nav__header .nav__singheader .nav__insta_link {
  right: 4.28vw;
}


.nav__header .nav__singheader .nav__fb_link{
  right: calc(4.28vw + 100px);
}

.nav__header .nav__singheader .nav__fb_link,
.nav__header .nav__singheader .nav__insta_link{
    position: absolute;
    width: 64px;
    height: 62px;
    border-radius:80px;
    background:#fff;
    position: absolute;
    top: 8px;
    z-index:20;
}

.nav__scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  transition: 0.3s ease;
}
.nav__scroll-header .nav__singheader,
.nav__scroll-header .nav__nav__logoa {
  color: var(--title-color);
}



@media screen and ( max-width: 1200px ) {
  .nav__header .nav__singheader h1{margin-right: 4vw;}
  .nav__header .nav__singheader .nav__fb_link,
  .nav__header .nav__singheader .nav__insta_link{width: 50px;height: 50px;}
  .nav__header .nav__singheader .nav__fb_link{right: 80px;}
  .nav__header .nav__singheader .nav__insta_link {right: 20px;}
}

@media screen and ( max-width: 1000px ) {
  .nav__header .nav__singheader{padding-left: 3vw;}
  .nav__header .nav__singheader .nav__fb_link,
  .nav__header .nav__singheader .nav__insta_link{display:none;}
  .nav__header .nav__singheader .nav__pc_menu {width: 660px;}
  
}

@media screen and ( max-width: 800px ) {


  .nav__header {
    height: 105px;
    box-sizing:border-box;
    left: 44px;
    top: 40px;
    right:24.18px;
  }
  .nav__header:before{
      width: 75%;
      height: 600px;
      border-radius: 0 0 0 60px;
  }

  .nav__header:after{
    width: 180px;
    height: 180px;
    position: absolute;
    right: -50px;
    /* top:calc(105px + 56.25vw); */
}

  .nav__header .nav__singheader  .nav__nav__logoa {
    position: absolute;
    width: 306.82px;

  }

  .nav__header .nav__singheader .nav__nav__logoa   img {
    position: absolute;
    width: 306.82px;
  }

  .nav__header .nav__singheader:after{
      width: 180px;
      height: 180px;
      position: absolute;
      right: -50px;
      top:calc(105px + 56.25vw);
  }

  .nav__header .nav__singheader h1 {
      width: 214px;
      z-index:10; 
      margin-right: 0;
  transform: translate(0px);
  }

  .nav__header .nav__singheader h1 a:hover{
  transform: translate(0px);
  }
  .nav__header .nav__singheader .nav__pc_menu {display:none;}

}
