/* 通用 */
img {
  max-width: 100%;
}
body {
  /* background-color: #f1f0e9; */
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
  position: relative;
  font-size: 16px;
}
@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}
/*============= Main =============*/
.indexTopContent{
  position: relative;
  min-height: 100vh;
}
.topWord{
  position: absolute;
  top: 8.5%;
}
.topWord span{
  font-size: 2rem;
  font-weight: bold;
}
.indexBigImg1{
  position: absolute;
  top: 13.5%;
}
.indexBigImg2{
  position: absolute;
  top: 35%;
  left: -3.5%;
}
.indexBigImg3{
  position: absolute;
  top: 41.5%;
}
@media (max-width: 767px) {
  .indexTopContent{
    position: relative;
    min-height: 950px;
  }
  .topWord{
    position: absolute;
    top: 234px;
    left: 0;
    background-color: #f1f0e9;
    z-index: 2;
    width: 90%;
    height: 150px;
  }
  .topWord span{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .indexBigImg1{
    position: absolute;
    top: 0px;
    padding: 0;
    z-index: 1;
  }
  .indexBigImg2{
    display: none;
  }
  .indexBigImg3{
    position: absolute;
    top: 380px;
    padding: 0;
    z-index: 3;
  }
}











/*============= 效果模組 =============*/

.c-blue {
  color: #065f8e;
}
.c-white {
  color: #ffffff;
}
.c-gray {
  color: #c6c3b4;
}
.bgc-blue {
  background-color: #065f8e;
}
.bgc-white {
  background-color: #ffffff;
}
.bgc-gray {
  background-color: #c6c3b4;
}
.bd-blue {
  border-color: #065f8e;
}
.bd-white {
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .pc-d-none{
    display: none;
  }
}