/*============= Main =============*/

.indexBG {
  background-color: #f1f0e9;
  width: 100%;
  height: calc(480% + 250px);
  position: absolute;
  z-index: -10;
  top: 0;
}

.WanderIndex-box{
  font-family: 'Merriweather Sans', sans-serif;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all .5s;
}
.WanderIndex-box:hover{ box-shadow: 3px 3px 5px #999; }
.WanderIndex-box:before,
.WanderIndex-box:after{
  content: "";
  background: radial-gradient(circle at 23% 70%,rgba(255,255,255,0.8),#fff 30%);
  width: 150%;
  height: 150%;
  opacity: 0;
  transform: rotate(45deg);
  position: absolute;
  top:-10.5%;
  right:-150%;
  z-index: 1;
  transition: all 0.35s ease;
}
.WanderIndex-box:after{
  background: rgba(255,255,255,0.5);
  width: 65%;
  height: 65%;
  right: auto;
  left: -20%;
  top: -65%;
}
.WanderIndex-box:hover:before{
  opacity: 1;
  right: -85%;
}
.WanderIndex-box:hover:after{
  opacity: 1;
  top: -42%;
}
.WanderIndex-box img{
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.WanderIndex-box:hover img{ transform: scale(1.2); }
.WanderIndex-box .WanderIndex-box-content{
  text-align: right;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -100%;
  z-index: 2;
  transition: all .5s;
}
.WanderIndex-box:hover .WanderIndex-box-content{ right: 5%; }
.WanderIndex-box .WanderIndex-title{
  color: #1e272e;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}
.WanderIndex-box .WanderIndex-post{
  font-size: 16px;
  color: #065F8E;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 10px;
  display: block;
}
.WanderIndex-box .WanderIndex-icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.WanderIndex-box .WanderIndex-icon li{
  display: inline-block;
  margin: 0 4px;
}
.WanderIndex-box .WanderIndex-icon li a{
  color: #fff;
  background-color: #1e272e;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
  transition: all 0.3s;
}
.WanderIndex-box .WanderIndex-icon li  a:hover{
  color: #1e272e;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: 0 0 5px #1e272e inset;
}
@media only screen and (max-width:990px){
  .WanderIndex-box {
     margin: 0 0 30px; 
    }
}
@media only screen and (max-width:479px){
  .WanderIndex-box .WanderIndex-title{ font-size: 20px; }
}

@media (max-width: 767px) {

  
  .indexBG {
    height: 3500px;
  }
}


.indexTopContent {
  position: relative;
  min-height: 100vh;
}

.topWord {
  position: absolute;
  top: 15.5%;
}
.topWord span {
  font-size: 2rem;
  font-weight: bold;
}
.indexBigImg1 {
  position: absolute;
  top: 25.5%;
}
.indexBigImg1 .img-02 {
  border: 12px solid #fafafa;
  box-sizing: border-box;
}
.indexBigImg2 {
  position: absolute;
  top: 60%;
  left: -3.5%;
  z-index: 5;
}
.indexBigImg2 .img-01 {
  border: 11px solid #fafafa;
  box-sizing: border-box;
}
.indexBigImg3 {
  position: absolute;
  top: 75.5%;
}

.indexBigImg3 .img-03 {
  position: absolute;
  /* left: 30px; */
  border: 10px solid #fafafa;
  box-sizing: border-box;
}

.indexBigImg4 {
  position: absolute;
  top: 100.5%;
}

.indexBigImg4 .slogan {
  position: absolute;
  left: 60px;
}

.indexBigImg5 {
  position: absolute;
  top: 5%;
  z-index: 3;
}

.triangle {
  fill: #065f8e;
  stroke: #065f8e;
  stroke-width: 75;
  z-index: 3;
}

.imgc-move {
  display: block;
  position: absolute;
  width: 57.28vw;
  max-width: 822px;
  top: calc(263px + 34.28vw);
  left: -400px;
  z-index: 1;
  -webkit-animation: main_icon01 15s infinite;
  -ms-animation: main_icon01 15s infinite;
  -o-animation: main_icon01 15s infinite;
  animation: main_icon01 15s infinite;
}

.img-triangle {
  display: block;
  position: absolute;
  transform: rotate(-179.95deg);
}

@-moz-keyframes main_icon01 {
  50% {
    transform: translate(50px, 50px);
  }
}
@-webkit-keyframes main_icon01 {
  50% {
    transform: translate(50px, 50px);
  }
}
@-o-keyframes main_icon01 {
  50% {
    transform: translate(50px, 50px);
  }
}
@-ms-keyframes main_icon01 {
  50% {
    transform: translate(50px, 50px);
  }
}
@keyframes main_icon01 {
  50% {
    transform: translate(50px, 50px);
  }
}

/*============= Card =============*/

.indexBigImg6 {
  top: 110%;
  position: absolute;
}

.carda {
  position: absolute;
  width: 230px;
  height: 304px;
  left: 150px;
  background: #065f8e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.carda .img1-1 {
  position: absolute;
  left: 34.35%;
  right: 34.35%;
  top: 19.74%;
  bottom: 56.58%;
}

.carda .img1-2 {
  position: absolute;
  left: 22.17%;
  right: 23.48%;
  top: 48.68%;
  bottom: 43.42%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 0.1px;

  color: #ffffff;
}

.carda .img1-3 {
  position: absolute;
  left: 14.35%;
  right: 15.65%;
  top: 63.16%;
  bottom: 36.18%;
}

.carda .img1-4 {
  position: absolute;
  left: 22.17%;
  right: 19.57%;
  top: 70.39%;
  bottom: 25.66%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  letter-spacing: 0.2px;

  color: #ffffff;
}
.cardb {
  position: absolute;
  width: 230px;
  height: 304px;
  left: 400px;
  background: #f1ef5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cardb .img2-1 {
  position: absolute;
  left: 34.35%;
  right: 34.35%;
  top: 19.74%;
  bottom: 56.58%;
}

.cardb .img2-2 {
  position: absolute;
  left: 19.13%;
  right: 18.7%;
  top: 44.08%;
  bottom: 44.08%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: -0.015em;

  /* text-color */

  color: #252b42;
}

.cardb .img2-3 {
  position: absolute;
  left: 16.09%;
  right: 13.91%;
  top: 62.5%;
  bottom: 36.84%;

  /* danger-color */

  /* danger-color */
}

.cardb .img2-4 {
  position: absolute;
  left: 11.74%;
  right: 7.83%;
  top: 69.74%;
  bottom: 23.68%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}

.indexBigImg7 {
  top: 143%;
  position: absolute;
}

.cardc {
  position: absolute;
  width: 230px;
  height: 304px;
  background: #f1ef5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  left: 150px;
}

.cardc .img3-1 {
  position: absolute;
  left: 34.35%;
  right: 34.35%;
  top: 19.74%;
  bottom: 56.58%;
}

.cardc .img3-2 {
  position: absolute;
  left: 15.22%;
  right: 15.22%;
  top: 47.7%;
  bottom: 40.46%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: -0.015em;

  /* text-color */

  color: #252b42;
}

.cardc .img3-3 {
  position: absolute;
  left: 16.09%;
  right: 13.91%;
  top: 62.5%;
  bottom: 36.84%;

  /* danger-color */

  /* danger-color */
}

.cardc .img3-4 {
  position: absolute;
  left: 11.74%;
  right: 7.83%;
  top: 69.74%;
  bottom: 23.68%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}

.cardd {
  position: absolute;
  width: 230px;
  left: 400px;
  height: 304px;
  background: #065f8e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cardd .img4-1 {
  position: absolute;
  left: 34.35%;
  right: 34.35%;
  top: 19.74%;
  bottom: 56.58%;
}

.cardd .img4-2 {
  position: absolute;
  left: 27.39%;
  right: 26.09%;
  top: 48.36%;
  bottom: 39.8%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: -0.015em;

  /* light-text-color */

  color: #ffffff;
}

.cardd .img4-3 {
  position: absolute;
  left: 16.09%;
  right: 13.91%;
  top: 62.5%;
  bottom: 36.84%;

  /* danger-color */

  /* danger-color */
}

.cardd .img4-4 {
  position: absolute;
  left: 17.39%;
  right: 17.39%;
  top: 74.01%;
  bottom: 20.07%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  letter-spacing: 0.2px;

  color: #ffffff;
}

/*============= 大區塊 =============*/

.indexBigImg8 {
  position: absolute;
  top: 215%;
}
.indexBigImg8-img {
  z-index: 3;
}

.imge-1-Text span {
  position: absolute;
  width: 36px;
  height: 635px;
  /* left: 200px; */
  /* left: calc(50% - 36px/2 + 446px); */
  /* top: calc(50% - 635px/2 + 108.5px); */

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  font-weight: bold;

  color: #4b4b4b;
  writing-mode: vertical-rl;
}

.yellow-area-1-Text span {
  position: absolute;
  height: 635px;
  left: -150px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #0c6291;
  /* font-weight: bold; */
  writing-mode: vertical-rl;
}

.checkoutBtn-y {
  /* width: 60%; */
  font-size: 1.2rem;
  height: 50px;
  color: #065f8e;
  background-color: #ffffff;
  margin: 0;
  /* min-width: 105px; */
}

.checkoutBtn-y:hover {
  color: #ffffff;
  background-color: #065f8e;
  border: 2px solid #ffffff;
}

.indexBigImg10 {
  position: absolute;
  top: 275%;
  height: 42%;
  background: #f1ef5b;
  z-index: 1;
}

.imge-2-Text span {
  /* height: 635px; */
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #0c6291;
  /* font-weight: bold; */
}
.imge-3-Text span {
  /* height: 635px; */
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #6c6b38;
  /* font-weight: bold; */
}

.top-a {
  position: absolute;
  top: 130px;
}
.top-b {
  position: absolute;
  top: 210px;
}

.yellow-area-but-4-index {
  position: absolute;
  /* left: 335px; */
  top: 325px;
  z-index: 3;
  width: 400px;
}

.yellow-area-but-4-index button {
  width: 500px;
}

/* .yellow-area-but-2 {
  position: absolute;
  left: 900px; 
  top: 325px;
  z-index: 3;
  width: 1000px;
  width: 1000px;
} */

/* .yellow-area-but-2 button {
  width: 500px;
} */

.checkoutBtn-y {
  width: 30%;
  font-size: 1.2rem;
  height: 50px;
  color: #065f8e;
  background-color: #ffffff;
  margin: 0;
  /* min-width: 105px; */
}
.checkoutBtn-y:hover {
  color: #ffffff;
  background-color: #065f8e;
  border: 2px solid #ffffff;
}

.imge-4-Text span {
  /* height: 635px; */
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #0c6291;
  /* font-weight: bold; */
}

.top-c {
  position: absolute;
  top: 450px;
  /* right: 600px; */
}

.indexBigImg11 {
  top: 330%;
  position: absolute;
  height: 15%;
  /* background: red; */
  z-index: 7;
}


.indexBigImg16 {
  top: 320%;
  position: absolute;
  height: 15%;
  z-index: 7;
}

.indexBigImg17 {
  top: 380%;
  position: absolute;
  /* height: %;  */
  z-index: 1;
}

.coursesection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-articleitem {
  /* width: 260px; */
  /* height: 308px; */
  /* border: 1.25px solid rgba(255, 255, 255, 1); */
  margin-left: 65px;
  position: relative;
  margin-bottom: 30px;

  /* background-color:#fff; */
}

.y-img img{
  /* width: 260px; */
  /* height: 308px; */
  /* border: 1.25px solid rgba(255, 255, 255, 1); */
  /* margin-left: 65px; */
  position: relative;
  margin-bottom: 20px;

  /* background-color:#fff; */
}

.indexBigImg18 {
  top: 420%;
  position: absolute;
  z-index: 7;
}

.recommendation {
  position: absolute;
  left: 0px;
  background: #f1ef5b;
  /* top: 4220px; */
  width: 100%;
  padding: 60px 0;
  z-index: 6;
}

.animate {
  position: relative;
  left: -10%;
  animation: move 10s infinite reverse;
  animation-timing-function: linear;
  animation-delay: 0s;
}


@keyframes move {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}


.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 30px;
  right: 50px;
}

.section-title-span1 {
  left: 15px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.15em;

  color: #3c3c3b;
}

.section-title-span2 {
  position: absolute;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.15em;

  color: #337b9f;
}

.recommendation-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendation-wall::-webkit-scrollbar {
  display: none;
}

.gallery-top,
.gallery-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-top {
  margin-left: 95px;
  margin-bottom: 20px;
}

.recommendation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  min-width: 480px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
}

.recommendation-card img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 10px;

}

.recommend-content {
  padding-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.recommend-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}

.recommend-img img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.recommend-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: -0.015em;

  color: #30618c;
}

.recommend p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: -0.015em;
  color: #000000;
}

.recommendation p {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.recommendation-card img,
.recommendation ol,
.recommendation-wall ul,
.recommendation-wall li {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* .recommendation p,
img,
ol, 
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}  */

.indexBigImg19 {
  top: 417%;
  position: absolute;
  z-index: 8;
}

.popular-card-but {
  position: absolute;
  left: 60px;
  /* top: 4200px;  */
  z-index: 3;
}

/* .popular-card-but button {
  width: 500px;
} */

.checkoutBtn {
  position: absolute;
  width: 30%;
  left: 125px;
  font-size: 1.2rem;
  height: 50px;
  color: #ffffff;
  background-color: #065f8e;
  margin: 0;
}

.checkoutBtn:hover {
  color: #065f8e;
  background-color: #ffffff;
  border: 2px solid #065f8e;
}

.a-checkoutBtn-a {
  position: absolute;
  width: 20%;
  font-size: 1.2rem;
  height: 50px;
  color: #ffffff;
  background-color: #065f8e;
  margin: 0;
}

.a-checkoutBtn-a:hover {
  color: #065f8e;
  background-color: #ffffff;
  border: 2px solid #065f8e;
}

.indexBigFooter {
  position: absolute;
  top: 480%;
  padding: 0;
}

@media (max-width: 767px) {

  .indexTopContent {
    position: relative;
    min-height: 950px;
  }
  .topWord {
    position: absolute;
    top: 234px;
    left: 0;
    background-color: #f1f0e9;
    z-index: 2;
    width: 90%;
    height: 150px;
  }
  .topWord span {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .indexBigImg5 {
    display: none;
  }

  .indexBigImg1 {
    position: absolute;
    top: -30px;
    padding: 0;
    z-index: 1;
  }
  .indexBigImg2 {
    display: none;
  }
  .indexBigImg3 {
    position: absolute;
    top: 320px;
    padding: 0;
    z-index: 3;
  }

  .indexBigImg3 .img-03 {
    position: absolute;
    border: 15px solid #fafafa;
    box-sizing: border-box;
  }

  .indexBigImg6 {
    position: absolute;
    top: 490px;
    padding: 0;
    z-index: -1;
  }

  .indexBigImg4 {
    position: absolute;
    top: 370px;
    /* left: 20px; */
    padding: 0;
    z-index: 4;
  }
  .card-a {
    display: none;
  }

  .icon01 {
    top: -160px;
    width: 375px;
    display: block;
    position: absolute;
    max-width: 300px;
    z-index: -4;
    -webkit-animation: type03_icon 15s infinite;
    -ms-animation: type03_icon 15s infinite;
    -o-animation: type03_icon 15s infinite;
    animation: type03_icon 15s infinite;
  }

  @-moz-keyframes type03_icon1 {
    50% {
      transform: translate(-50px, -50px);
    }
  }
  @-webkit-keyframes type03_icon {
    50% {
      transform: translate(-50px, -50px);
    }
  }
  @-o-keyframes type03_icon {
    50% {
      transform: translate(-50px, -50px);
    }
  }
  @-ms-keyframes type03_icon {
    50% {
      transform: translate(-50px, -50px);
    }
  }
  @keyframes type03_icon {
    50% {
      transform: translate(-50px, -50px);
    }
  }

  .indexBigImg8 {
    position: absolute;
    top: 1400px;
    padding: 0;
    z-index: -1;
  }

  .indexBigImg9 {
    top: 1060px;
    position: absolute;
  }

  .yellow-area-2-Text span {
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    color: #0c6291;
  }

  .imge-2-Text span {
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    color: #4b4b4b;
  }

  /* .icon03 {
    margin-left: 65px;
    position: relative;
  } */

  .icon02 {
    top: -220px;
    display: block;
    position: absolute;
    max-width: 1122px;
    width: 229px;
    z-index: -1;
    -webkit-animation: type02_icon 15s infinite;
    -ms-animation: type02_icon 15s infinite;
    -o-animation: type02_icon 15s infinite;
    animation: type02_icon 15s infinite;
  }

  

  @-moz-keyframes type02_icon {
    50% {
      transform: translate(50px, 50px);
    }
  }
  @-webkit-keyframes type02_icon {
    50% {
      transform: translate(50px, 50px);
    }
  }
  @-o-keyframes type02_icon {
    50% {
      transform: translate(50px, 50px);
    }
  }
  @-ms-keyframes type02_icon {
    50% {
      transform: translate(50px, 50px);
    }
  }
  @keyframes type02_icon {
    50% {
      transform: translate(50px, 50px);
    }
  }

  .yellow-a {
    display: none;
  }

  .imge-1-Text {
    position: absolute;
    left: 40px;
  }

  .indexBigImg12 {
    top: 1700px;
    position: absolute;
  }

  .abc {
    position: absolute;
    left: 130px;
  }

  .bcd {
    position: absolute;
    top: 50px;
  }

  .imge-12-Text span {
    font-size: 20px;
    /* font-weight: bold; */
    color: #0c6291;
    width: 140px;
    position: absolute;
  }

  .imge-12-Text-a span {
    font-size: 18px;
    font-weight: bold;
    color: #4b4b4b;
  }

  .indexBigImg14 {
    top: 110px;
    position: absolute;
    margin-left: 10px;
  }

  .indexBigImg15 {
    top: 190px;
    left: 10px;
    position: absolute;
  }

  .indexBigImg13 {
    top: 1900px;
    position: absolute;
  }

  .mge-12-a {
    position: absolute;
    left: 160px;
  }

  .indexBigImg10 {
    display: none;
  }

  .imge-2-Text span {
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-rl;

    color: #4b4b4b;
  }

  .indexBigImg11 {
    display: none;
  }

  .indexBigImg21 {
    top: 1950px;
    position: absolute;
    z-index: -1;
  }

  .indexBigImg22 {
    top: 2110px;
    height: 150px;
    position: absolute;
    background-color: #C4C4C4;
    z-index: -2;
  }


  .indexBigImg16 {
    top: 1730px;
    position: absolute;
    z-index: -1;
  }
  .top-c {
    position: absolute;
    top: 600px;
  }

  .top-c span {
    font-size: 20px;
    /* font-weight: bold; */
    color: #0c6291;
    width: 140px;
    position: absolute;
  }

  .indexBigImg17 {
    top: 2420px;
    position: absolute;
    z-index: -1;
  }

  .indexBigImg18 {
    display: none;
  }

  .indexBigFooter {
    position: absolute;
    top: 3400px;
    padding: 0;
    z-index: -2;
  }

  .indexBigImg19 {
    display: none;
  }

  .indexBigImg20 {
    top: 3080px;
    position: absolute;
    z-index: -1;
  }


  .checkoutBtn-m {
    position: absolute;
    width: 30%;
    left: 130px;
    font-size: 1.2rem;
    height: 51px;
    color: #ffffff;
    background-color: #065f8e;
    margin: 0;
  }

  .checkoutBtn-m:hover {
    color: #065f8e;
    background-color: #ffffff;
    border: 2px solid #065f8e;
  }

  .yellow-area-but-4-index button {
    width: 100px;
  }

  .WanderIndex-box .WanderIndex-title{
    color: #1e272e;
    font-size: 13px;
    font-weight: bold;
  }
  .WanderIndex-box .WanderIndex-post{
    font-size: 10px;
    color: #065F8E;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 10px;
    display: block;
  }

  .WanderIndex-box .WanderIndex-icon li a {
    color: #fff;
    background-color: #1e272e;
    /* font-size: 18px; */
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s;
}

}

/*============= 效果模組 =============*/

.c-blue {
  color: #065f8e;
}
.c-white {
  color: #ffffff;
}
.c-gray {
  color: #c6c3b4;
}
.bgc-blue {
  background-color: #065f8e;
}
.bgc-white {
  background-color: #ffffff;
}
.bgc-gray {
  background-color: #c6c3b4;
}
.bd-blue {
  border-color: #065f8e;
}
.bd-white {
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .pc-d-none {
    display: none;
  }
  .mobile-card {
    display: none;
  }
}
