/* 通用 */
.confirmBtn {
  background-color: #ffffff;
  border: 2px solid #065f8e;
  color: #065f8e;
}
.confirmBtn:hover {
  background-color: #065f8e;
  color: #ffffff;
}

/*============= Main =============*/
.cartMain {
  margin: 0;
}

/* 大標 */
.cartTitle {
  position: relative;
  margin-top: 96px;
  display: flex;
  width: 100%;
  border-bottom: 2px black solid;
  padding: 0;
}
.cartIcon {
  height: 57px;
  width: 57px;
}
.cartTitleTxt {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 69px;
  margin-left: 1.8rem;
}
.cartQuality {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.cartBackStep {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
}
.cartBackStep:hover {
  color: #065f8e;
}
@media (max-width: 992px) {
  .cartQuality {
    display: none;
  }
}
@media (max-width: 767px) {
  .cartMain {
    margin-left: 8.333333%;
  }
  .cartTitle {
    margin-top: 30px;
  }
  .cartQuality {
    display: block;
  }
  .cartIcon {
    height: 25px;
    width: 25px;
  }
  .cartTitleTxt {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 32px;
    margin-left: 7px;
  }
}
/* 分類欄 */
.cartSort {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .cartSort {
    display: none;
  }
}
.cartSortTxt {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
/* 購物車內容 */
.emptyCart {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.cartItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 20px 0px 0px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cartItemImage {
  padding: 0;
  min-height: 100px;
}
.cartItemTxt {
  font-size: 1.2rem;
  padding: 0;
  display: flex;
}
@media (max-width: 992px) {
  .cartSortTxt,
  .cartItemTxt {
    font-size: 1rem;
  }
}
.cartItemName {
  padding: 0 0 0 1rem;
}
.cartItemStatus {
  text-align: center;
  padding: 0;
}
.cartItemPrice {
  text-align: center;
  color: #065f8e;
  padding: 0;
}
@media (max-width: 767px) {
  .cartItem {
    padding-top: 15px;
  }
  .cartItemImage {
    margin: 0 0 0 15px;
    min-height: 50px;
  }
  .cartItemTxt {
    flex-direction: column;
    height: 33%;
  }
  .cartItemName {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }
  .cartItemStatus {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }
  .cartItemPrice {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }
}

.cartItemBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  margin-top: 15px;
  padding: 10px;
  padding-right: 5%;
  border-top: 1px solid rgba(115, 50, 26, 0.4);
}
.cartItemBtn {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}
.cartItemBtn-Detail,
.cartItemBtn-Delete {
  display: flex;
  align-content: center;
  cursor: pointer;
  margin-left: 5%;
  opacity: 0.6;
  transition: 0.3s ease;
}
.cartItemBtn span {
  padding-left: 5px;
}
@media (max-width: 767px) {
  .cartItemBtn span {
    font-size: 1.2rem;
  }
}
.cartItemBtn-Detail:hover,
.cartItemBtn-Delete:hover {
  opacity: 1;
}

/*============= SideList =============*/
.cartSideList {
  position: relative;
  margin-top: 110px;
  left: -2rem;
  z-index: 1;
}
.cartSideListImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.cartSideListItem {
  position: relative;
  z-index: -4;
  padding: 10% 0;
  font-size: 1.2rem;
}
.cartSideListItemNum {
  position: absolute;
  left: 28%;
  background-color: #065f8e;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  border: 1px solid #065f8e;
}
.cartSideListItemTxt {
  position: absolute;
  left: 40%;
  text-align: center;
  line-height: 30px;
  color: #065f8e;
  font-weight: bold;
}
.cartSideListLine1 {
  position: absolute;
  border-right: 4px solid #ffffff;
  top: 31%;
  left: 32.5%;
  width: 1px;
  height: 15%;
  z-index: -5;
}
.cartSideListLine2 {
  position: absolute;
  border-right: 4px solid #ffffff;
  top: 65%;
  left: 32.5%;
  width: 1px;
  height: 15%;
  z-index: -5;
}
@media (max-width: 1200px) {
  .cartSideListItemNum {
    left: 23%;
  }
  .cartSideListItem {
    font-size: 1rem;
  }
  .cartSideListLine1 {
    top: 35%;
    left: 31%;
  }
  .cartSideListLine2 {
    top: 69%;
    left: 31%;
  }
}
@media (max-width: 992px) {
  .cartSideListItemNum {
    left: 15%;
  }
  .cartSideListItem {
    font-size: 0.8rem;
  }
  .cartSideListLine1 {
    top: 35%;
    left: 27%;
  }
  .cartSideListLine2 {
    top: 69%;
    left: 27%;
  }
}
@media (max-width: 767px) {
  .cartSideList {
    display: flex;
    margin-top: 15px;
    padding: 0;
    left: 0rem;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
  }
  .cartSideListImage {
    display: none;
  }
  .cartSideListItem {
    width: 33.33%;
    padding: 0;
  }
  .cartSideListItemNum {
    left: 50%;
    transform: translateX(-50%);
  }
  .cartSideListItemTxt {
    position: absolute;
    text-align: center;
    line-height: 16px;
    color: #065f8e;
    font-weight: bold;
    width: 100%;
    top: 3rem;
    left: 0;
  }
  .cartSideListLine1 {
    transform: rotate(90deg);
    height: 100%;
    top: -1rem;
    left: 32%;
  }
  .cartSideListLine2 {
    transform: rotate(90deg);
    height: 100%;
    top: -1rem;
    left: 66%;
  }
}

/*============= CheckoutList =============*/
.checkout {
  min-width: 180px;
  padding: 1rem 2rem;
  margin: 0 2rem;
  margin-top: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkoutTitle {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid black;
}
@media (max-width: 992px) {
  .checkoutTitle {
    font-size: 1rem;
  }
}
.checkoutSubtotal {
  border-bottom: 2px solid #c6c3b4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 2px;
  width: 100%;
  font-size: 1.2rem;
}
.checkoutTotal {
  font-size: 2rem;
  font-weight: 500;
  color: #065f8e;
}
.counponImage {
  text-align: center;
}
.checkoutCoupon {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  margin-bottom: 30px;
}
.selectCoupon {
  position: relative;
  color: #065f8e;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.selectOtherCoupon {
  position: relative;
  color: #065f8e;
  cursor: pointer;
}
.selectCoupon::after,
.selectOtherCoupon::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #065f8e;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s ease;
  z-index: 10;
}
.selectCoupon:hover::after,
.selectOtherCoupon:hover::after {
  transform: scale(1, 1);
}
.checkoutFooter {
  padding: 30px 0 16px 0;
  justify-content: center;
  display: flex;
}
.cartCheckoutBtn {
  width: 60%;
  font-size: 1.2rem;
  height: 50px;
  color: #065f8e;
  background-color: #ffffff;
  border: 2px solid #065f8e;
  margin: 0;
  min-width: 105px;
}
.editCheckBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 60px;
  height: 30px;
  color: #065f8e;
  background-color: #ffffff;
  border: 2px solid #065f8e;
}
@media (max-width: 992px) {
  .editCheckBtn {
    width: 40px;
    height: 20px;
    padding: 0;
    font-size: 0.8rem;
  }
}
.cartCheckoutBtn:hover,
.editCheckBtn:hover {
  color: #ffffff;
  background-color: #065f8e;
  border: 2px solid #065f8e;
}
.editCheckList {
  border-bottom: 2px solid black;
  height: 200px;
  overflow: scroll;
}

@media (max-width: 767px) {
  .checkout {
    min-width: 180px;
    margin: 60px 0 0 8.33%;
    background-color: #ffffff00;
    box-shadow: none;
    padding: 0;
  }
  .checkoutTitle,
  .checkoutSubtotal,
  .checkoutTotal,
  .editCheckList {
    display: none;
  }
  .couponTitle-m {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  .checkoutCoupon span {
    margin-top: 30px;
    padding: 0;
    font-size: 1.2rem;
  }
  .checkoutSubtotal-m {
    margin: 30px 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .checkoutSubtotal-m span {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .checkoutFooter {
    background-color: #f1f0e9;
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
    display: flex;
    border-top: 1px solid black;
    z-index: 5;
  }
  .cartCheckoutBtn {
    min-width: 85px;
    width: 30%;
    border-radius: 0;
    color: #ffffff;
    background-color: #065f8e;
  }
  .checkoutFooter-t {
    padding: 0.5rem 1rem;
  }
  .checkoutTotal-m {
    padding-right: 5%;
  }
  .checkoutTotal-m-1 {
    font-size: 1.5rem;
    color: #065f8e;
    font-weight: bold;
  }
}
@media (min-width: 768px) {
  .couponTitle-m,
  .checkoutSubtotal-m,
  .checkoutFooter-t,
  .checkoutTotal-m {
    display: none;
  }
}

/*============= coupon modal =============*/
.modal-header,
.modal-body {
  padding: 2rem;
}
#counponModal .modal-title {
  color: #065f8e;
  font-size: 2rem;
}
#counponModal .modal-content {
  background-color: #f1f0e9;
}
#counponModal .modal-body-title {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 0;
  align-items: center;
  font-weight: bold;
}
#counponModal .modal-card-title {
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0;
}
#counponModal .modal-card {
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #065e8e00;
  margin-top: 1.5rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#counponModal .modal-card.active {
  border: 3px solid #065f8e;
}
#counponModal .modal-card.disable {
  cursor: not-allowed;
  opacity: 0.5;
}
.counponCtrl {
  display: none;
}
@media (max-width: 767px) {
  .modal-body-title {
    display: none;
  }
  #counponModal .modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 767px;
  }
  #counponModal .modal-content {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 5%;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
  }
  #counponModal .modal-content .modal-body {
    margin-bottom: 10vh;
  }
  #counponModal .modal-content .modal-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: none;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
  .modal.fade .modal-dialog {
    transform: translateY(50vh);
  }
  .modal.show .modal-dialog {
    transform: translateY(0);
  }
  .modal-card {
    padding: 1rem;
  }
}

/*============= payment =============*/
.payMethod {
  background-color: #fff;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.payTitle {
  border-bottom: 2px solid black;
  position: relative;
}
.payTitle span {
  font-size: 1.5rem;
  font-weight: bold;
}
.payMethodSelectInfo {
  display: inline-block;
}
.payMethodSelectInfo img {
  padding: 0.3rem 2%;
  /* min-width: 70px; */
}
.payMethodSelectInfo span {
  font-size: 0.8rem;
}
.payInfoInput {
  padding: 0;
}
.payInfo {
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputCategory {
  min-width: 80px;
  padding: 0.5rem 0;
  margin: 0;
  text-align: right;
}
.fourLengthInput {
  padding: 0.5rem;
  width: 12%;
  min-width: 55px;
  max-width: 80px;
  height: 35px;
  margin: 0 5px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid black;
}
.longLengthInput {
  padding: 0.5rem;
  width: 25%;
  height: 35px;
  min-width: 165px;
  margin: 0 5px;
  font-size: 1rem;
  text-align: left;
  border: 2px solid black;
}

@media (max-width: 992px) {
  .inputCategory {
    width: 100%;
    text-align: left;
  }
  .fourLengthInput {
    margin: 0 2px;
  }
  .payInfoInput {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
}

/*============= confirm check modal =============*/
#confirmCheckModal .modal-content {
  background-color: #f1f0e9;
}
#confirmCheckModal .modal-title {
  color: #065f8e;
  font-weight: bold;
  font-size: 2rem;
}
#confirmCheckModal .modal-body span,
#alertModal .modal-body span {
  color: #065f8e;
  font-weight: bold;
  font-size: 1.5rem;
}

/*============= finish order =============*/
.finishContent {
  margin: 1rem 0;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.finishContentRow {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}
.finishContentRow span {
  font-size: 1.2rem;
  font-weight: normal;
}
#payTimeDL {
  position: absolute;
  left: 0;
  bottom: -70%;
  color: red;
  font-size: 0.8rem;
}
.orderContent {
  margin: 1rem 0;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.orderContentRow {
  padding: 0;
  margin-top: 1rem;
}
.orderContentRow span {
  font-size: 1.2rem;
}
.orderDetail {
  margin: 1rem 0;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
}
.orderDetailContent {
  background-color: rgba(198, 195, 180, 0.5);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.orderDetailTitle {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.orderDetailTitle span {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.orderDetailItem {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.orderDetailItemTxt span {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.orderDetailItemImg {
  padding: 1rem;
}
.orderDetailItemTxt {
  display: flex;
  padding: 0;
  align-items: center;
}
@media (max-width: 992px) {
  .orderDetail {
    padding: 0;
  }
  .orderDetailTitle {
    display: none;
  }
  .orderDetailItemTxt {
    flex-direction: column;
    padding: 0.5rem;
  }
  .orderDetailItemTxt span {
    padding: 0;
    text-align: left;
  }
  .orderDetailItemImg {
    padding: 0.5rem;
  }
}
.orderGoBtn {
  color: #065f8e;
  font-weight: bold;
  border: 2px solid #065f8e;
  width: 160px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.orderGoBtn span {
  font-size: 1rem;
  margin-left: 5px;
}
.orderGoBtn:hover {
  background-color: #065f8e;
  color: white;
}
@media (max-width: 767px) {
  .orderGoBtn {
    width: 120px;
    height: 22px;
    padding: 0;
    right: 0;
    bottom: 3px;
  }
  .orderGoBtn {
    font-size: 10px;
  }
}

/*============= creditCard =============*/
.creditCard {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
}
@media (max-width: 1440px) {
  .creditCard {
    display: none;
  }
}
.creditCardFront {
  width: 300px;
  height: 200px;
  background-color: #065f8e;
  border-radius: 10px;
  position: relative;
}
.creditCardBack {
  width: 300px;
  height: 200px;
  background-color: #065f8e;
  border-radius: 10px;
  position: relative;
}
.credit-icon {
  position: absolute;
  left: 21px;
  top: 26px;
}
.credit-title {
  position: absolute;
  left: 101px;
  top: 37px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.credit-num {
  position: absolute;
  left: 21px;
  top: 98px;
  font-size: 1.5rem;
  color: white;
}
.credit-name {
  position: absolute;
  left: 21px;
  top: 145px;
  font-size: 1rem;
  color: white;
}
.credit-MY {
  position: absolute;
  left: 204px;
  top: 140px;
  font-size: 0.8rem;
  color: white;
}
.credit-date {
  position: absolute;
  left: 226px;
  top: 157px;
  font-size: 0.8rem;
  color: white;
}

.credit-blackbar {
  position: absolute;
  width: 100%;
  height: 41px;
  left: 0px;
  top: 25px;
  background: #000000;
}
.credit-graybar {
  position: absolute;
  width: 121px;
  height: 31px;
  left: 16px;
  top: 90px;
  background: #c4c4c4;
}
.credit-CVC {
  position: absolute;
  width: 49px;
  height: 31px;
  left: 137px;
  top: 90px;
  background: #f0f0f0;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
  font-size: 1rem;
}
.credit-whitebar1 {
  position: absolute;
  width: 170px;
  height: 5px;
  left: 16px;
  top: 140px;
  background: #ffffff;
}
.credit-whitebar2 {
  position: absolute;
  width: 115px;
  height: 5px;
  left: 16px;
  top: 155px;
  background: #ffffff;
}
.credit-whitebar3 {
  position: absolute;
  width: 37px;
  height: 5px;
  left: 149px;
  top: 155px;
  background: #ffffff;
}
.credit-whitebar4 {
  position: absolute;
  width: 58px;
  height: 18px;
  left: 233px;
  top: 164px;
  border-radius: 5px;
  background: #ffffff;
}

/*============= 效果模組 =============*/

.c-blue {
  color: #065f8e;
}
.c-white {
  color: #ffffff;
}
.c-gray {
  color: #c6c3b4;
}
.bgc-blue {
  background-color: #065f8e;
}
.bgc-white {
  background-color: #ffffff;
}
.bgc-gray {
  background-color: #c6c3b4;
}
.bd-blue {
  border-color: #065f8e;
}
.bd-white {
  border-color: #ffffff;
}
.mb-footer {
  margin-bottom: 150px;
}
