body {
  position: relative;
}

.TCmb-50 {
  margin-bottom: 50px;
}

.TCmb-70 {
  margin-bottom: 70px;
}

.TCbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

.TcHasNoCourse {
  color: #065f8e;
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
}

/* 會員中心TCsidebar */
.TCsidebar {
  display: none;
}

/* 表單儲存的字體顏色 */
.TCsave-btn {
  color: black;
  cursor: pointer;
}

/* 審核提示窗 */
.TCnotify {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px;
}

.TCnotify-text {
  font-size: 18px;
  font-weight: bold;
  color: #065f8e;
  letter-spacing: -0.015em;
  text-align: center;
}

/* 教師頁面返回按鈕 */
.TCback-btn {
  padding: 0px 15px;
  color: #065f8e;
}

/* 頁面英文標題 */
.pageName {
  display: none;
}

/* 表單 */
.TCform {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-bottom: 30px;
}

/* 表單頭 */
.TCform-head {
  display: flex;
  align-items: center;
  margin: 1.875rem 0px;
}

/* 表單標題 */
.TCform-title {
  font-size: 24px;
  color: #065f8e;
  letter-spacing: -0.015em;
  font-weight: bold;
  margin: auto;
}

/* 表單頁面 */
.TCform-content {
  margin: 0px auto;
  padding: 0px auto;
}

/* 搜尋列 */
.TCsearch {
  display: none;
}

.TCsearch-mobile {
  display: flex;
  margin-bottom: 30px;
}

.TCsearchbar {
  width: 100%;
  height: 40px;
  padding-left: 17px;
  padding-right: 50px;
  border: 1px solid #065f8e;
  border-radius: 6px;
}

.TCsearchbar + button[type='submit'] {
  width: 76px;
  background: #065f8e;
  color: white;
  margin-left: -50px;
  border: 0;
  border-radius: 0px 6px 6px 0px;
}

/* 表單裡的頭圖 */
.profile-pic {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 21px;
}

.profile-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 姓名的input */
.TCnameInputs {
  margin: 27px 0 50px;
  border: 1px solid #868686;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  padding: 17px;
}

/* 欄位提示小字 */
.TCnotice {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #cf2727;
  margin-bottom: 26px;
}

/* 自我介紹欄位 */
.TC-intro {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 15px;
}

/* 預覽頁面 */
/* 個人資料 */

.p-info-wrapper {
  display: flex;
  flex-direction: column;
}

.p-page-info-bg {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #fff;
}

.p-page-info {
  order: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 20px;
}

.p-page-info .TCname {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.p-page-info .TCp-intro {
  position: relative;
  border: 2px solid #f1ef5b;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 34px;
  width: 100%;
}

.p-page-info .TCp-intro-title {
  position: absolute;
  top: -15px;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  background-color: #fff;
}

.p-page-info .TCp-intro > p {
  font-size: 12px;
  margin: 0px;
}

.p-page-avatar {
  order: 1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 35px;
}

.p-page-title {
  font-size: 24px;
  font-weight: bold;
  color: #065f8e;
  margin-bottom: 15px;
}

.p-page-myCourse {
  margin-top: 80px;
}

/* 商城顯示的課程(手機) */
/* .BuyCourseSection {
  display: flex;
  flex-wrap: wrap;
}

.BuyCourseItem {
  width: 100%;
  height: 271px;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
  margin-bottom: 30px;
}

.BuyCourseImg {
  width: 100%;
  height: 100%;
}

.coursename {
  color: white;
  font-size: 14px;
  font-style: bold;
  top: 65%;
  left: 5%;
  margin-left: auto;
  position: absolute;
}

.teachername {
  color: white;
  font-size: 8px;
  font-style: bold;
  position: absolute;
  top: 75%;
  left: 5%;
}

.stars {
  position: absolute;
  bottom: 6%;
  left: 5%;
}

.fa-star {
  font-size: 12px;
  color: #bcc831;
}

.score {
  font-size: 10px;
  color: white;
  font-style: bold;
  position: absolute;
  top: 85%;
  left: 5%;
}

.price {
  font-size: 14px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 6%;
  right: 5%;
} */

/* -------------以上為公用------------ */

/* 課程新增進度 */
.TCcourse-processBar {
  display: none;
}

/* 課程圖片上傳 */
.TCcourse-img-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/* 課程表單裡的圖  */
.TCcourse-pic-square {
  width: 271px;
  height: 271px;
  margin-bottom: 30px;
}

.btn-border-only {
  display: flex;
  height: 50px;
  border: 1px solid #065f8e;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

/* 課程新增的返回列表按鈕 */
.btn-border-only-no-h {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #065f8e;
  border-radius: 10px;
  color: #065f8e;
  font-size: 14px;
  font-weight: normal;
}

/* 上傳履歷的div */
.resume {
  display: flex;
}

.resume > input {
  cursor: pointer;
}

/* 預覽按鈕(桌機板) */
.preview-btn-top {
  display: none;
  cursor: pointer;
}

/* 預覽按鈕(行動裝置) */
.preview-btn {
  margin: 15px auto 30px;
}

/* 單獨一個按鈕在表單底部時 */
.one-btn {
  color: black;
  margin-bottom: 30px;
}

/* 單獨一個按鈕的顯示 */
.onebtn-switch {
  display: none;
}

/* 課程管理的欄位 */
.TCcourseLabel {
  display: none;
}

/* 課程卡片 */
.TCcourse-card {
  display: flex;
  justify-content: center;
  background: #f1f0e9;
  border-radius: 10px;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  margin-bottom: 15px;
}

/* 課程圖片 */
.TCcourse-img {
  margin-left: -15px;
  overflow: hidden;
}

.TCcourse-img > img {
  width: auto;
  height: 100%;
}

/* 課程的文字資訊 */
.TCcourse-info {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 8px 0px 8px 15px;
}

/* 課程名稱 */
.TCcourse-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 7px;
  letter-spacing: -0.015em;
}

/* 課程名稱除外的細節 */
.TCcourse-detail {
  font-size: 12px;
  transform: scale(0.8);
  transform-origin: left center;
  line-height: 15px;
  padding-right: 0;
}

/* 課程刪除按鈕 */
.TCcourse-delete {
  color: #065f8e;
  font-size: 18px;
  padding: 3px 10px 0px;
  margin-left: auto;
}

.TCcourse-delete:hover {
  color: rgb(224, 22, 22);
}

/* 影片上傳 */
.TCvideo-drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #868686;
  border-radius: 20px;
  padding: 25%;
  margin: 0px auto 30px;
  text-align: center;
}

.TCvideo-drop-zone > i {
  font-size: 50px;
}

.TCvideo-drop-zone > p {
  font-size: 20px;
  margin: 25px auto 5px;
}

.TCvideo-drop-zone > label {
  font-size: 12px;
  margin-bottom: 20px;
}

@media (min-width: 375px) {
  .TCnotify-text {
    font-size: 21px;
  }

  .nameInputs {
    margin: 27px 0 50px;
  }
}

@media (min-width: 768px) {
  #fakeFileInput {
    content: '123';
  }

  /* 搜尋列 */
  .TCsearch {
    display: flex;
  }

  .TCsearch-mobile {
    display: none;
  }

  .TCsearchbar {
    width: 100%;
  }

  /* 頁面英文標題 */
  .pageName {
    display: block;
    margin-bottom: 96px;
    margin-top: 96px;
    padding: 0;
    z-index: 1;
  }

  .pageNameText {
    position: relative;
    color: black;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
  }

  .TCprofile::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 36%;
    top: 42%;
  }

  .TCcourse::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 20%;
    top: 42%;
  }

  .TCpassword::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 16%;
    top: 55%;
  }

  .TCanalytics::before {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 32%;
    top: 55%;
  }

  /* 會員中心TCsidebar */
  .TCsidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  /* 頭像 */
  .TCsidebar .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* TCsidebar選項列 */
  .TCsidebar .nav-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
  }

  /* TCsidebar選項 */
  .TCsidebar .nav-item {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    padding: 0;
    margin-bottom: 10px;
    color: #065f8e;
    position: relative;
    cursor: pointer;
  }

  .TCsidebar .nav-item > i {
    font-size: 1.5rem;
    margin: auto 8% auto 17%;
    background-color: transparent;
  }

  .nav-item-text {
    font-size: 1rem;
  }

  /* 選中的選項狀態 */
  .TCsidebar .nav-item.active {
    background-color: white;
  }

  .TCsidebar .nav-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .TCsidebar li > .nav-item:hover {
    background-color: white;
  }

  /* 表單名稱 */
  .TCform-title {
    display: flex;
    margin: 50px 0px;
    font-size: 36px;
  }

  /* 表單 */
  .TCform {
    border: 2px solid rgba(6, 95, 142, 0.5);
    margin-bottom: 150px;
  }

  /* 表單頭 */
  .TCform-head {
    margin: 0px;
  }

  /* 表單內容 */
  .TCform-content {
    width: 70%;
  }

  .TCsave-btn {
    margin: 60px 0;
  }

  /* -------------以上為公用--------- */

  /* 課程欄位列 */
  .TCcourseLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .TCcourseLabel-right {
    display: flex;
    padding-right: 18px;
  }

  .TCcourseLabel .Labelitem {
    width: 4.8rem;
    font-size: 1rem;
    font-weight: bold;
  }

  /* 課程圖片 */
  .TCcourse-img {
    margin-left: -15px;
    overflow: hidden;
  }

  .TCcourse-img > img {
    max-width: auto;
    height: 100%;
  }

  /* 課程卡片 */
  .TCcourse-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  /* 課程名稱 */
  .TCcourse-title {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .TCcourse-info-right {
    display: flex;
    flex-wrap: nowrap;
  }

  .TCcourse-card .TCcourse-detail {
    transform: scale(1);
    font-size: 1rem;
    width: 5.8rem;
    text-align: center;
    transform-origin: center;
  }

  .TCcourse-detail span {
    display: none;
  }

  .TCcourse-delete {
    color: #065f8e;
    font-size: 18px;
    padding: 0px;
  }

  .TCcourse-delete i {
    margin: 3.55rem auto;
  }

  .TCnotify-text {
    font-size: 28px;
    margin: 0px auto;
  }

  /* 課程圖片 */
  .TCcourse-img-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  /* 課程表單裡的圖 */
  .TCcourse-pic-square {
    max-width: 271px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #868686;
    border-radius: 10px;
    overflow: hidden;
  }

  /* 預覽按鈕(桌機板) */
  .preview-btn-top {
    display: block;
    margin-left: auto;
  }

  /* 預覽按鈕(手機) */
  .preview-btn {
    display: none;
  }

  /* 教師頁面返回按鈕 */
  .TCback-btn {
    display: none;
  }

  /* 課程新增的進度 */
  .TCcourse-processBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: auto 5rem;
    margin: 30px 0px 96px;
  }

  .TCcourse-processBarList {
    display: flex;
    list-style: none;
    margin: 0;
  }

  .TCcourse-processBar-item {
    position: relative;
    text-decoration: none;
    width: 150px;
  }

  .TCcourse-processBar-item a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
  }

  .TCcourse-processBar-item a i {
    padding-right: 0.5rem;
  }

  /* 目前所在的頁面 */
  .processBar-item::after {
    position: absolute;
    bottom: 4px;
    width: 70%;
    height: 5px;
    background-color: #065f8e;
  }

  /* 自我介紹欄位 */
  .TC-intro {
    margin-bottom: 0px;
  }

  /* 單獨一個按鈕在表單底部時 */
  .one-btn {
    margin: 50px 0px 60px;
  }

  /* 單獨一個按鈕的顯示 */
  .onebtn-switch {
    display: block;
  }

  /* 審核提示窗 */
  .TCnotify {
    border: 2px solid rgba(6, 95, 142, 0.5);
  }

  /* 影片上傳 */
  .TCvideo-drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #868686;
    border-radius: 20px;
    padding: 25%;
    margin: 0px auto 135px;
    text-align: center;
  }

  /* 會員表格 */
  .company-table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .company-table .table th {
    text-align: center;
    line-height: 50px;
  }

  .company-table .table td {
    text-align: center;
    line-height: 50px;
  }

  /* 預覽頁面 */
  /* 個人資料 */
  .p-info-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .p-page-info-bg {
    border-radius: 20px;
    background-color: transparent;
    margin: 0;
    padding: 0px -15px;
  }

  .p-page-info {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .p-page-info .TCname {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 56px;
  }

  .p-page-info .TCp-intro {
    border: 4px solid #f1ef5b;
    border-radius: 5px;
    padding: 34px;
    width: 80%;
  }

  .p-page-info .TCp-intro-title {
    top: -20px;
    width: 165px;
    font-size: 24px;
  }

  .p-page-info .TCp-intro > p {
    font-size: 18px;
    margin: 0px;
  }

  .p-page-avatar {
    order: 2;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }

  .p-page-title {
    font-size: 36px;
    font-weight: bold;
    color: #065f8e;
    margin-bottom: 50px;
  }

  .p-page-myCourse {
    margin-top: 80px;
  }

  /* 商城顯示的課程(桌機) */
  /* .BuyCourseSection {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }  
  
  .BuyCourseItem {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .BuyCourseImg {
    width: auto;
    height: 100%;
  }

  .coursename {
    color: white;
    font-size: 14px;
    font-style: bold;
    top: 65%;
    left: 5%;
    margin-left: auto;
    position: absolute;
  }

  .teachername {
    color: white;
    font-size: 8px;
    font-style: bold;
    position: absolute;
    top: 75%;
    left: 5%;
  }

  .stars {
    position: absolute;
    bottom: 6%;
    left: 5%;
  }

  .fa-star {
    font-size: 12px;
    color: #bcc831;
  }

  .score {
    font-size: 10px;
    color: white;
    font-style: bold;
    position: absolute;
    top: 85%;
    left: 5%;
  }

  .price {
    font-size: 14px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 6%;
    right: 5%;
  } */
}

@media (min-width: 1024px) {
  .TCcourse-card .TCcourse-detail {
    transform: scale(1);
    font-size: 1rem;
    width: 5.4rem;
    text-align: center;
    transform-origin: center;
  }
}
