/* 通用 */
img {
  max-width: 100%;
}
body {
  background-color: #f1f0e9;
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
  position: relative;
  font-size: 16px;
}
@media (max-width: 768px) {
  *{
    font-size: 12px;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

/*=============== Navbar ===============*/
ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}
.logo_desktop{
  height: 80px;
}
.nav__header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  color: #065f8e;
}
@media (max-width: 767px) {
  .nav__header {
    display: none;
  }
}
.nav__header .nav__singheader {
  position: relative;
}
.nav__header .nav__singheader .nav__pc_menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.nav__header .nav__singheader .nav__pc_menu li {
  display: inline-block;
}
.nav__en {
  color: #065f8e;
  display: block;
  font-weight: bold;
  position: relative;
  padding: 0 15px; /* TODO */
}
.nav_cart, .nav_login{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
}
.nav_login_txt{
  color: #065f8e;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.nav_cart_icon{
  width: 24px;
  height: 24px;
  left: -50%;
  top: 50%;
  filter: drop-shadow(#065f8e 60px 0);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
}
.nav_cart:hover, .nav_login:hover{
  background-color: #065f8e;
}
.nav_cart:hover .nav_cart_icon, .nav_login:hover .nav_login_txt{
  filter: drop-shadow(#ffffff 60px 0);
  color: white;
}

/* hover底線動畫 */
.nav__en::after {
  position: absolute;
  bottom: -28px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.1rem;
  background: #242424;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.3s ease;
  z-index: 10;
}
@media (max-width: 992px) {
  .nav__en::after{
    bottom: -21px;
  }
}
.nav__en:hover::after {
  transform: scale(1, 1);
}
/* scroll後變色 */
.nav__scroll-header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  transition: 0.3s ease;
}

/*============= breadcrumb =============*/
.breadcontent{
  margin-top: 110px;
}
@media (max-width: 767px) {
  .breadcontent {
    margin-top: 0px;
  }
}
/* 手機logo */
.logo-m {
  display: none;
}
@media (max-width: 767px) {
  .logo-m {
    margin: 40px auto 40px;
    display: block;
  }
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0);
}

/*============= Main =============*/
.cartMain {
  margin: 0;
}

/* 大標 */
.cartTitle {
  position: relative;
  margin-top: 96px;
  display: flex;
  width: 100%;
  border-bottom: 2px black solid;
  padding: 0;
}
.cartIcon {
  height: 57px;
  width: 57px;
}
.cartTitleTxt {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 69px;
  margin-left: 1.8rem;
}
.cartQuality{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 992px) {
  .cartQuality{
    display: none;
  }
}
@media (max-width: 767px) {
  .cartMain {
    margin-left: 8.333333%;
  }
  .cartTitle {
    margin-top: 30px;
  }
  .cartQuality{
    display: block;
  }
  .cartIcon {
    height: 25px;
    width: 25px;
  }
  .cartTitleTxt {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 32px;
    margin-left: 7px;
  }
}
/* 分類欄 */
.cartSort{
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .cartSort{
    display: none;
  }
}
.cartSortTxt{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
/* 購物車內容 */
.cartItem{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 20px 0px 0px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .cartItem-flex-grow-2{
    flex: 2;
  }
  .cartItem-flex-grow-1{
    flex: 1;
  } 
}
.cartItemImage{
  width: 20%;
  margin-left: 7%;
}
.cartItemTxt{
  font-size: 1.2rem;
  text-align: start;
  display: flex;
  margin-left: 5%;
}
.cartItemName{
  max-width: 180px;
  margin-left: 0%;
}
.cartItemStatus{
  padding-left: 8%;
  min-width: 60px;
}
.cartItemPrice{
  margin-left: 20%;
  color: #065f8e; 
}
@media (max-width: 767px) {
  .cartItem{
    padding-top: 15px;
  }
  .cartItemImage{
    width: 30%;
    margin: 0 0 0 15px;
    float: left;
  }
  .cartItemTxt{
    
    
  }
}

.cartItemBtn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  margin-top: 15px;
  padding: 10px;
  padding-right: 5%;
  border-top: 1px solid rgba(115, 50, 26, 0.4);;
}
.cartItemBtn a{
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0.6;
  transition: 0.3s ease;
}
.cartItemBtn a span{
  margin-left: 5px;
}
.cartItemBtn-Delete{
  margin-left: 5%;
}
.cartItemBtn a:hover {
  opacity: 1;
}

/*============= SideList =============*/
.cartSideList{
  position: relative;
  margin-top: 110px;
  left: -2rem;
  z-index: 1;
}
.cartSideListImage{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.cartSideListItem{
  position: relative;
  z-index: -4;
  padding: 10% 0;
  font-size: 1.2rem;
}
.cartSideListItemNum{
  position: absolute;
  left: 28%;
  background-color: #065F8E;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-weight: bold;
}
.cartSideListItemTxt{
  position: absolute;
  left: 40%;
  text-align: center;
  line-height: 30px;
  color: #065F8E;
  font-weight: bold;
}
.cartSideListLine1{
  position: absolute;
  border-right: 4px solid #FFFFFF;
  top: 31%;
  left: 32.5%;
  width: 1px;
  height: 15%;
  z-index: -5;
}
.cartSideListLine2{
  position: absolute;
  border-right: 4px solid #FFFFFF;
  top: 65%;
  left: 32.5%;
  width: 1px;
  height: 15%;
  z-index: -5;
}
@media (max-width: 1200px) {
  .cartSideListItemNum{
    left: 23%;
  }
  .cartSideListItem{
    font-size: 1rem;
  }
  .cartSideListLine1{
    top: 35%;
    left: 31%;
  }
  .cartSideListLine2{
    top: 69%;
    left: 31%;
  }
}
@media (max-width: 992px) {
  .cartSideListItemNum{
    left: 15%;
  }
  .cartSideListItem{
    font-size: 0.8rem;
  }
  .cartSideListLine1{
    top: 35%;
    left: 27%;
  }
  .cartSideListLine2{
    top: 69%;
    left: 27%;
  }
}
@media (max-width: 767px) {
  .cartSideList{
    display: flex;
    margin-top: 15px;
    padding: 0;
    left: 0rem;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
  }
  .cartSideListImage{
    display: none;
  }
  .cartSideListItem{
    width: 33.33%;
    padding: 0;
  }
  .cartSideListItemNum{
    left: 50%;
    transform: translateX(-50%);
  }
  .cartSideListItemTxt {
    position: absolute;
    text-align: center;
    line-height: 16px;
    color: #065F8E;
    font-weight: bold;
    width: 100%;
    top: 3rem;
    left: 0;
  }
  .cartSideListLine1{
    transform: rotate(90deg);
    height: 100%;
    top: -1rem;
    left: 32%;
  }
  .cartSideListLine2{
    transform: rotate(90deg);
    height: 100%;
    top: -1rem;
    left: 66%;
  }
}


/*============= CheckoutList =============*/
.checkout{
  max-width: 300px;
  min-width: 180px;
  padding: 1rem 2rem;
  margin: 0 2rem;
  margin-top: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .checkout{
    display: none;
  }
}
.checkoutTitle{
  font-size: 1.5rem;
  font-weight: bold;
}
.checkoutSubtotal{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 2px;
  width: 100%;
  font-size: 1.2rem;
}
.checkoutTotal{
  font-size: 2rem;
  font-weight: 500;
  color:#065f8e;
}
.counponImage{
  text-align: center;

}
.checkoutCoupon{
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  margin-bottom: 30px;
}
.selectCoupon{
  position: relative;
  color: #065F8E;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.selectOtherCoupon{
  position: relative;
  color: #065F8E;
}
.selectCoupon::after, .selectOtherCoupon::after{
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #065f8e;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s ease;
  z-index: 10;
}
.selectCoupon:hover::after, .selectOtherCoupon:hover::after {
  transform: scale(1, 1);
}
.checkoutFooter{
  padding: 30px 0 16px 0;
  border-top: 2px solid black;
}
.checkoutBtn{
  width: 60%;
  font-size: 1.2rem;
  height: 50px;
  color: #ffffff;
  background-color: #065f8e;
}
.checkoutBtn:hover{
  color: #065f8e;
  background-color: #ffffff;
  border: 2px solid #065F8E;
}

/*============= Background =============*/

/* 全頁包覆(為了色塊動畫) */
.TCallwraper {
  z-index: -1;
  position: absolute;
  top: -110px;
  width: 100%;
}

/* 圓圈 */
.dec-circle {
  display: block;
  position: absolute;
  z-index: -1;
  width: 262px;
  height: 262px;
  right: 26px;
  top: 189px;
  border: 4px dashed #065f8e;
  border-radius: 50%;
  animation: bc 150s linear infinite;
}
/* 圓圈的動畫 */
@keyframes bc {
  0% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

/* 黃色色塊(上) */
/* 上面的黃色色塊 */
.dec-block {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 56%;
  height: 300px;
  z-index: -10;
  background: #f1ef5b;
  border-radius: 0px 0px 0px 180px;
  animation: TChy2 12s linear infinite;
}
@keyframes TChy2 {
  0% {
    width: 56%;
  }

  50% {
    width: 58%;
  }

  100% {
    width: 56%;
  }
}
@media (max-width: 767px) {
  .dec-circle{
    display: none;
  }
}
/* 地球 */
.earth {
  display: block;
  position: absolute;
  z-index: -5;
  right: 0;
  top: 724px;
}


/*============= 效果模組 =============*/

.c-blue{
  color: #065F8E;
}
.c-white{
  color: #ffffff;
}
.bgc-blue{
  background-color: #065F8E;
}
.bgc-white{
  background-color: #ffffff;
}
.bd-blue{
  border-color: #065F8E;
}
.bd-white{
  border-color: #ffffff;
}
