* {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}

/* 全頁背景色 */
.sp-bgc {
  background: #f1f0e9;
  /* overflow: hidden; */
}

/* 彈窗 */
.modal-dialog {
  margin: auto;
}

.mb-50 {
  margin-bottom: 50px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.opacity-0 {
  opacity: 0;
}

/* -------------以上為公用--------- */

/* 地球背景圖 */
.earth {
  display: none;
}

/* 上面的黃色色塊 */
.dec-block {
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
  width: 68%;
  height: 335px;
  z-index: -2;
  background: #f1ef5b;
  border-radius: 0px 0px 0px 180px;
  animation: hy 12s linear infinite;
}

/* 新增課程的黃色色塊 */
.dec-block-lg {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 90%;
  height: 250px;
  z-index: -2;
  background: #f1ef5b;
  border-radius: 0px 0px 0px 180px;
  animation: hy2 12s linear infinite;
}

/* 新增課程的黃色色塊的動畫 */
@keyframes hy2 {
  0% {
    left: 10%;
  }

  50% {
    left: 12%;
  }

  100% {
    left: 10%;
  }
}

/* 麵包屑 */
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 500;
  color: #065f8e;
  margin-left: .25rem;
  padding-bottom: 15px;
}

.bread>ol {
  list-style-type: none;
}

/* 新增課程(手機板) */
.btn-sm {
  width: 73px;
  height: 30px;
}

/* 表單儲存的字體顏色 */
.save-btn {
  color: black;
}

/* 教師頁面返回按鈕 */
.TCback-btn {
  padding: 0px 15px;
  color: #065F8E;
}

/* 審核提示窗 */
.notify {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px;
}

.notify-text {
  font-size: 18px;
  font-weight: bold;
  color: #065F8E;
  letter-spacing: -0.015em;
  text-align: center;
}

/* 頁碼 */
.Mypagination {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 70px 0px 60px;
}

.Mypage-item {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  line-height: 26px;
  text-align: center;
}

.Mypage-item a {
  font-size: 12px;
  color: black;
  text-align: center;
}

.Mypage-item a i {
  color: #065F8E;
}

/* 頁碼被選中時 */
.act {
  background-color: #065F8E;
}

.act a {
  color: white;
}

/* 手機logo */
.logo-m {
  margin: 40px auto 40px;
}

/* 會員中心sidebar */
.sidebar {
  display: none;
}

/* 課程新增進度 */
.topbar {
  display: none;
}

/* 表單 */
.form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

/* 表單頭 */
.form-head {
  display: flex;
  align-items: center;
  margin: 1.875rem 0px;
}

/* 頁面英文標題(圖片) */
.pageName {
  display: none;
}

.form-title {
  font-size: 24px;
  color: #065f8e;
  letter-spacing: -0.015em;
  font-weight: bold;
  margin: auto;
}

/* 表單頁面 */
.form-content {
  margin: 0px auto;
  padding: 0px auto;
}

/* 搜尋列 */
.search {
  display: none;
}

.search-mobile {
  display: flex;
  margin-bottom: 30px;
}

.searchbar {
  width: 100%;
  height: 40px;
  padding-left: 17px;
  padding-right: 50px;
  border: 1px solid #065F8E;
  border-radius: 6px;
}

.searchbar+button[type="submit"] {
  width: 76px;
  background: #065F8E;
  color: white;
  margin-left: -50px;
  border: 0;
  border-radius: 0px 6px 6px 0px;
}

/* 網站導覽列 */
.navbar {
  display: none;
}

/* 表單裡的頭圖 */
.pic {
  width: 116px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 21px;
}

.btn-border-only {
  width: 117px;
  height: 50px;
  border: 1px solid #065f8e;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

/* 姓名的input */
.nameInputs {
  margin: 27px 0 50px;
  border: 1px solid #868686;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  padding: 17px;
}

/* 上傳履歷的div */
.resume {
  display: flex;
}

/* 所有input的格式 */
.allInputs {
  border: 1px solid #868686;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  margin-bottom: 5px;
  background-color: transparent;
}

/* 瀏覽按鈕 */
.browse {
  width: 100%;
  height: 48px;
  border: 0px;
  color: black;
  background-color: #f1ef5b;
  margin-left: -100px;
  border-radius: 0px 10px 10px 0px;
}

/* 欄位提示小字 */
.notice {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #CF2727;
  margin-bottom: 26px;
}

/* 自我介紹欄位 */
.intro {
  border: 1px solid #868686;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 30px;
}

.intro::placeholder {
  padding-top: 17px;
  padding-left: 17px;
}

/* 預覽按鈕(桌機板) */
.preview-btn-top {
  display: none;
}

/* 預覽按鈕(行動裝置) */
.preview-btn {
  margin: 15px auto 30px;
}

.change-btn {
  color: black;
  margin-bottom: 30px;
}

/* 課程管理的欄位 */
.courseLabel {
  display: none;
}

/* 課程卡片 */
.TCcourse-card {
  display: flex;
  justify-content: center;
  background: #F1F0E9;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

/* 課程圖片 */
.TCcourse-img {
  width: 8rem;
  height: 100px;
  margin-left: -15px;
  background: url("../.././public/images/course/日文課程.jpeg") no-repeat center / cover;
}

/* 課程的文字資訊 */
.TCcourse-info {
  width: 100%;
  padding: 8px 0px 8px 10px;
}

/* 課程名稱 */
.TCcourse-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 7px;
  letter-spacing: -0.015em;
}

/* 課程名稱除外的細節 */
.TCcourse-detail {
  font-size: 10px;
  transform: scale(0.8);
  transform-origin: left center;
  line-height: 15px;
  padding-right: 0;
}

/* 課程刪除按鈕 */
.TCcourse-delete {
  color: #065f8e;
  font-size: 18px;
  padding: 3px 10px 0px;
  margin-left: auto;
}


@media (min-width: 375px) {
  .notify-text {
    font-size: 21px;
  }

  .nameInputs {
    margin: 27px 0 50px;
  }
}

@media (min-width: 768px) {

  .btn-sm {
    width: 115px;
    height: 40px;
  }

  /* 麵包屑 */
  .breadcrumb {
    padding-bottom: 15px;
  }

  /* 所有input欄位 */
  .allInputs {
    height: 50px;
  }

  /* 表單頁面 */
  .form-content {
    margin: 0px auto;
    padding: 0px 3rem;
  }

  /* 課程欄位列 */
  .courseLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .courseLabel-right {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0;
  }

  .Labelitem {
    width: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  /* 課程卡片 */
  .TCcourse-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* 課程名稱 */
  .TCcourse-title {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .TCcourse-info-right {
    display: flex;
    justify-content: space-evenly;
  }

  .TCcourse-detail {
    transform: scale(1);
    width: 80px;
    text-align: center;
    font-size: 14px;
  }

  .TCcourse-detail span {
    display: none;
  }

  .TCcourse-delete {
    color: #065f8e;
    font-size: 18px;
    padding: 0px;
    margin: auto 15px;
  }

  /* 瀏覽按鈕 */
  .browse {
    height: 50px;
  }

}

@media (min-width: 1024px) {

  /* 頁面背景 */
  /* 圓圈的動畫 */
  @keyframes bc {
    0% {
      transform: scale(0.9);
    }

    10% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.9);
    }

    30% {
      transform: scale(1);
    }

    40% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.9);
    }

    70% {
      transform: scale(1);
    }

    80% {
      transform: scale(0.9);
    }

    90% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }

  /* 圓圈 */
  .dec-circle {
    display: block;
    position: absolute;
    z-index: -1;
    width: 262px;
    height: 262px;
    right: 26px;
    top: 189px;
    border: 4px dashed #065f8e;
    border-radius: 50%;
    animation: bc 150s linear infinite;
  }

  /* 黃色色塊(上) */
  .dec-block {
    height: 300px;
  }

  /* 地球 */
  .earth {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 724px;
  }

  /* 黃色色塊(下) */
  .dec-low-block {
    display: block;
    position: absolute;
    left: 70px;
    top: 1068px;
    width: 367px;
    height: 789px;
    transform: skew(-24.76deg);
    z-index: -1;
    background: #f1ef5b;
    border-radius: 30px;
    animation: 12s linear infinite;
  }

  .notify-text {
    font-size: 28px;
    margin: 0px auto
  }

  /* 搜尋列 */
  .search {
    display: flex;
  }

  .search-mobile {
    display: none;
  }

  .searchbar {
    width: 368px;
  }

  /* 手機版logo */
  .logo-m {
    display: none;
  }

  /* 網站主要導覽列 */
  .navbar {
    display: flex;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }

  /* 頁面英文標題(圖片) */
  .pageName {
    display: block;
    margin-bottom: 96px;
  }

  /* 表單 */
  .form {
    border: 2px solid rgba(6, 95, 142, 0.5);
    margin: 0px auto 150px;
  }

  /* 表單頭 */
  .form-head {
    padding: 0px 5rem;
    margin: 0px;
  }

  /* 表單內容 */
  .form-content {
    width: 70%;
  }

  /* 表單名稱 */
  .form-title {
    display: flex;
    margin: 50px 0px;
    font-size: 36px;
  }

  /* 給profile page用 */
  .form-title-margin {
    margin: 50px auto 50px 96px;
  }

  /* 預覽按鈕(桌機板) */
  .preview-btn-top {
    display: block;
    margin-left: auto;
  }

  /* 預覽按鈕(手機) */
  .preview-btn {
    display: none;
  }

  /* 教師頁面返回按鈕 */
  .TCback-btn {
    display: none;
  }

  .input-grp-sm {
    margin: auto 96px;
  }

  /* 課程新增的進度 */
  .topbar {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .topNavList {
    display: flex;
    list-style: none;
    padding: 0px;
  }

  .topNav-item {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding-left: 39px;
    margin-bottom: 10px;
  }

  /* 會員中心sidebar */
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  /* 頭像 */
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* sidebar選項列 */
  .nav_list {
    list-style: none;
    padding: 0px;
  }

  /* sidebar選項 */
  .nav-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 30px;
    margin-bottom: 10px;
  }

  .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
    background-color: transparent;
  }

  .nav-item>a>i {
    font-size: 25px;
    padding-right: 10px;
    background-color: transparent;
  }

  /* 選中的選項狀態 */
  .active {
    background-color: white;
  }

  .sidebar .active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .sidebar .nav-item:hover {
    background-color: white;
  }

  /* 自我介紹欄位 */
  .intro {
    margin-bottom: 0px;
  }

  .save-btn {
    margin: 60px 0;
  }

  /* 密碼更改 */
  .change-btn {
    margin: 14px 0px 60px;
  }

  /* 課程欄位右側 */
  /* .courseLabel-right {
    display: flex;
    justify-content: space-evenly;
    padding-right: calc(9% - 3rem);
  } */

  /* 課程欄位 */
  .Labelitem {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  /* 課程名稱 */
  .TCcourse-title {
    width: 80%;
  }

  /* 頁碼 */
  .Mypagination {
    display: flex;
  }

  /* 審核提示窗 */
  .notify {
    border: 2px solid rgba(6, 95, 142, 0.5);
  }
}