* {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}

.modal-dialog{
  margin: 0;
}

.allwraper {
  position: relative;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.mt-15 {
  margin-top: 15px;
}
.mt-200{
  margin-top: 200px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.save-btn {
  color: black;
}

.notify {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 2px solid rgba(6, 95, 142, 0.5);
  padding: 15px;
}

.notify-text {
  font-size: 30px;
  font-weight: bold;
  color: #065F8E;
  letter-spacing: -0.015em;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.btn-sm {
  width: 73px;
  height: 30px;
}

.Mypagination {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 70px 0px 60px;
}

.Mypage-item {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  line-height: 26px;
  text-align: center;
}

.Mypage-item a {
  font-size: 12px;
  color: black;
  text-align: center;
}


.act {
  background-color: #065F8E;
}

.act a {
  color: white;
}

.Mypage-link {
  background-color: transparent;

}


  .notify-text {
    font-size: 18px;
    text-align: center;
    color: #065F8E;
  }

  .Mypagination {
    display: none;
  }

  body {
    background: #f1f0e9;
  }

  .pageName {
    display: none;
  }

  .logo {
    width: 306.82px;
    height: 60px;
    margin: 40px 0px 40px -8px;
  }

  .breadcrumb {
    background-color: transparent;
    font-size: 14px;
    letter-spacing: -0.015em;
    font-weight: 500;
    color: #065f8e;
    margin: 0px;
    padding-bottom: 15px;
  }

  .bread>ol {
    list-style-type: none;
  }

  .sidebar {
    display: none;
  }

  .topbar {
    display: none;
  }

  .form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 15px;
  }

  .form-sm {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 15px;
    margin: 0 -15px 30px;
  }

  .form-m {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 15px;
    margin: 0 -15px 30px;
  }

  .form-lg {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 15px;
    margin: 0 -15px 30px;
  }

  .back {
    width: 40px;
    padding: 40px 16px;
    background-color: transparent;
    color: #065f8e;
  }

  .form-title {
    font-size: 24px;
    color: #065f8e;
    letter-spacing: -0.015em;
    font-weight: bold;
    margin: auto;
  }

  .search {
    display: none;
  }

  .search-mobile {
    display: flex;
    margin-bottom: 30px;
  }

  .searchbar {
    width: 100%;
    height: 40px;
    padding-left: 17px;
    padding-right: 50px;
    border: 1px solid #065F8E;
    border-radius: 6px;
  }

  .searchbar+button[type="submit"] {
    width: 76px;
    background: #065F8E;
    color: white;
    margin-left: -50px;
    border: 0;
    border-radius: 0px 6px 6px 0px;
  }

  .navbar {
    display: none;
  }

  .earth {
    display: none;
  }

  .pic {
    width: 116px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 21px;
  }

  .btn-primary {
    width: 117px;
    height: 50px;
    border: 1px solid #065f8e;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: normal;
    margin: auto;
  }

  .input-grp {
    margin: 0;
  }

  .nameInputs {
    margin: 27px 0 50px;
    border: 1px solid #868686;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    padding: 17px;
  }

  .resume {
    display: flex;
  }

  .allInputs {
    border: 1px solid #868686;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    margin-bottom: 5px;
    background-color: transparent;
  }

  .browse {
    width: 100%;
    height: 48px;
    border: 0px;
    color: black;
    background-color: #f1ef5b;
    margin-left: -100px;
    border-radius: 0px 10px 10px 0px;
  }

  .notice {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    color: #CF2727;
    margin-bottom: 26px;
  }

  .intro {
    border: 1px solid #868686;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .intro::placeholder {
    padding-top: 17px;
    padding-left: 17px;
  }

  .preview-btn-top {
    display: none;
  }

  .preview-btn {
    margin: 15px auto 30px;
  }

  .change-btn {
    color: black;
    margin: 0px 0px 30px;
  }

  @keyframes hy2 {
    0% {
      left: 10%;
    }

    50% {
      left: 12%;
    }

    100% {
      left: 10%;
    }
  }

  .dec-block {
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    width: 68%;
    height: 335px;
    z-index: -2;
    background: #f1ef5b;
    border-radius: 0px 0px 0px 180px;
    animation: hy 12s linear infinite;
  }

  .dec-block-lg{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90%;
    height: 250px;
    z-index: -2;
    background: #f1ef5b;
    border-radius: 0px 0px 0px 180px;
    animation: hy2 12s linear infinite;
  }

  .courseLabel {
    display: none;
  }

  .TCcourse-card {
    display: flex;
    background: #F1F0E9;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .TCcourse-img {
    width: 8rem;
    height: 100px;
    margin-left: -15px;
    background: url(".././images/course/日文課程.jpeg") no-repeat center / cover;
  }

  .TCcourse-info {
    padding: 8px 0px 4px 11px;
  }

  .TCcourse-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 7px;
    letter-spacing: -0.015em;
  }

  .TCcourse-detail {
    font-size: 10px;
    transform: scale(0.8);
    transform-origin: left center;
    line-height: 15px;
    padding-right: 0;
  }

  .TCcourse-delete {
    color: #065f8e;
    font-size: 18px;
    padding: 3px 10px 0px;
    margin-left: auto;
  }


@media (min-width: 375px) {
  .notify-text {
    font-size: 21px;
    text-align: center;
    color: #065F8E;
  }

  .logo {
    width: 306.82px;
    height: 60px;
    margin: 40px 44px 40px;
  }

  .breadcrumb {
    margin: 0px 30px;
  }

  .btn-primary {
    margin-left: 36px;
  }

  .nameInputs {
    margin: 27px 0 50px;
  }
}

@media (min-width: 768px) {
  .logo {
    margin: 40px auto;
  }

  .btn-sm {
    width: 115px;
    height: 40px;
  }

  .TCcourse-info {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .TCcourse-title {
    font-size: 16px;
    line-height: 20px;
  }

  .TCcourse-info-left {
    display: flex;
    margin: auto;
  }

  .TCcourse-detail {
    width: 80px;
    text-align: center;
    font-size: 14px;
  }

  .TCcourse-detail span {
    display: none;
  }

  .TCcourse-delete {
    color: #065f8e;
    font-size: 18px;
    padding: 0px;
    margin: auto 15px;
  }

  .courseLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .courseLabel-right {
    display: flex;
    justify-content: space-evenly;
    padding-right: 3.2rem;
  }

  .Labelitem {
    width: 72px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: auto 5px;
  }

  .input-grp-sm {
    margin: auto 96px;
  }

  .modal-dialog{
    margin: auto;
  }

  .allInputs{
    height: 50px;
  }

}

@media (min-width: 1024px) {
  .notify-text {
    font-size: 28px;
    margin: 0px auto
  }

  .courseLabel-right {
    padding-right: 1rem;
  }

  .search {
    display: flex;
  }

  .search-mobile {
    display: none;
  }

  .searchbar {
    width: 368px;
  }

  .logo {
    display: none;
  }

  .navbar {
    display: flex;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }

  .breadcrumb {
    margin-left: -10px;
  }

  .pageName {
    display: block;
    margin: 47px 176px 96px;
  }

  @keyframes bc {
    0% {
      transform: scale(0.9);
    }

    10% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.9);
    }

    30% {
      transform: scale(1);
    }

    40% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.9);
    }

    70% {
      transform: scale(1);
    }

    80% {
      transform: scale(0.9);
    }

    90% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }

  .dec-circle {
    display: block;
    position: absolute;
    z-index: -1;
    width: 262px;
    height: 262px;
    right: 26px;
    top: 189px;
    border: 4px dashed #065f8e;
    border-radius: 50%;
    animation: bc 150s linear infinite;
  }



  .dec-block {
    height: 300px;
  }

  .earth {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 724px;
  }

  .dec-low-block {
    display: block;
    position: absolute;
    left: 70px;
    top: 1068px;
    width: 367px;
    height: 789px;
    transform: skew(-24.76deg);
    z-index: -1;
    background: #f1ef5b;
    border-radius: 30px;
    animation: 12s linear infinite;
  }

  .form {
    border: 2px solid rgba(6, 95, 142, 0.5);
    width: 748px;
    margin: 0 auto 150px;
  }

  .form-sm {
    border: 2px solid rgba(6, 95, 142, 0.5);
    width: 60%;
    margin: 0 auto 150px;
  }

  .form-m {
    border: 2px solid rgba(6, 95, 142, 0.5);
    width: 80%;
    margin: 0px 0px 150px;
  }

  .form-lg {
    border: 2px solid rgba(6, 95, 142, 0.5);
    width: 80%;
    padding: 0px 40px;
    margin: 0 auto 150px;
  }

  .back {
    display: none;
  }

  .form-title {
    display: flex;
    margin: 50px 0px;
    font-size: 36px;
  }

  .form-title-margin {
    margin: 50px auto 50px 96px;
  }

  .preview-btn {
    display: none;
  }

  .save-btn {
    color: black;
    margin: 60px 0;
  }

  .change-btn {
    margin: 10px 0px 60px;
  }

  .preview-btn-top {
    display: flex;
    margin-right: 74px;
  }

  .input-grp-sm {
    margin: auto 96px;
  }

  .input-grp {
    margin: auto 192px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    padding: 0;
  }

  .topbar {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .topNavList{
    display: flex;
    list-style: none;
    padding: 0px;
  }

  .topNav-item{
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 175px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding-left: 39px;
    margin-bottom: 10px;
  }


  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .nav_list {
    list-style: none;
    padding: 0px;
  }

  .nav-item-select {
    width: 15px;
    height: 50px;
    background-color: #f1ef5b;
  }

  .nav-item {
    display: flex;
    position: relative;
    align-items: center;
    width: 175px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding-left: 39px;
    margin-bottom: 10px;
  }

  .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
    background-color: transparent;
  }

  .nav-item>a>i {
    font-size: 29px;
    padding-right: 10px;
    background-color: transparent;
  }

  .nav-last {
    margin-top: 56px;
  }

  .sidebar .active {
    background-color: white;
  }

  .sidebar .active::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .sidebar .nav-item:hover {
    background-color: white;
  }

  .TCcourse-delete {
    display: none;
  }

  .Mypagination {
    display: flex;
  }

}

@media (min-width: 1440px) {
  .sidebar {
    margin-right: 112px;
  }

  .form-sm {
    width: 55%;
    margin: 0 0 150px;
  }

  .form-m {
    width: 67%;
  }

  .courseLabel {
    width: 100%;
    /* padding: auto; */
  }

  .courseLabel-right {
    padding-right: 5.5rem;
  }

}