* {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;

}

body {
  font-size: 12px;
}

/* 全頁背景色 */
.TCsp-bgc {
  background: #f1f0e9;
  position: relative;
  /* overflow: hidden; */
}

/* 全頁包覆(為了色塊動畫) */
.TCallwraper {
  z-index: -1;
  position: absolute;
  top: -110px;
  width: 100%;
}

.TCmb-50 {
  margin-bottom: 50px;
}

.TCmb-70 {
  margin-bottom: 70px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.opacity-0 {
  opacity: 0;
}

/* 網站導覽列 */
.navbar {
  display: none;
}

/* 地球背景圖 */
.earth {
  display: none;
}

/* 上面的黃色色塊 */
.dec-block {
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
  width: 56%;
  height: 335px;
  z-index: -2;
  background: #f1ef5b;
  border-radius: 0px 0px 0px 180px;
  animation: TChy 12s linear infinite;
}

/* 黃色色塊的動畫 */
/* @keyframes TChy {
  0% {
    left: 50%;
  }

  50% {
    left: 46%;
  }

  100% {
    left: 50%;
  }
} */

/* 新增課程的黃色色塊 */
.dec-block-lg {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 95%;
  height: 250px;
  z-index: -2;
  background: #f1ef5b;
  border-radius: 0px 0px 0px 180px;
  animation: TChy2 12s linear infinite;
}

/* 新增課程的黃色色塊的動畫 */
@keyframes TChy2 {
  0% {
    left: 5%;
  }

  50% {
    left: 7%;
  }

  100% {
    left: 5%;
  }
}

/* 麵包屑 */
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 500;
  margin-left: .25rem;
  padding: 0px 0px 15px;
}

/* 頁碼 */
.Mypagination {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 70px 0px 60px;
}

.Mypage-item {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  line-height: 26px;
  text-align: center;
}

.Mypage-item a {
  font-size: 12px;
  color: black;
  text-align: center;
}

.Mypage-item a i {
  color: #065F8E;
}

/* 頁碼被選中時 */
.Mypage-item.active {
  background-color: #065F8E;
}

.Mypage-item.active a {
  color: white;
}

/* 手機logo */
.logo-m {
  margin: 40px auto 40px;
}

/* 會員中心sidebar */
.sidebar {
  display: none;
}

/* 表單儲存的字體顏色 */
.TCsave-btn {
  color: black;
}


/* 新增課程(手機板) */
.TCbtn-sm {
  display: flex;
  width: 73px;
  height: 30px;
}


/* 手機板會變小的按鈕(有display變化)  */
.TCbtn-sm-w-switch {
  display: flex;
  width: 73px;
  height: 30px;
}


/* 審核提示窗 */
.TCnotify {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px;
}

.TCnotify-text {
  font-size: 18px;
  font-weight: bold;
  color: #065F8E;
  letter-spacing: -0.015em;
  text-align: center;
}

/* 教師頁面返回按鈕 */
.TCback-btn {
  padding: 0px 15px;
  color: #065F8E;
}

/* 頁面英文標題 */
.pageName {
  display: none;
}

/* 表單 */
.TCform {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-bottom: 30px;
}

/* 表單頭 */
.TCform-head {
  display: flex;
  align-items: center;
  margin: 1.875rem 0px;
}

/* 表單標題 */
.TCform-title {
  font-size: 24px;
  color: #065f8e;
  letter-spacing: -0.015em;
  font-weight: bold;
  margin: auto;
}

/* 表單頁面 */
.TCform-content {
  margin: 0px auto;
  padding: 0px auto;
}

/* 搜尋列 */
.search {
  display: none;
}

.search-mobile {
  display: flex;
  margin-bottom: 30px;
}

.searchbar {
  width: 100%;
  height: 40px;
  padding-left: 17px;
  padding-right: 50px;
  border: 1px solid #065F8E;
  border-radius: 6px;
}

.searchbar+button[type="submit"] {
  width: 76px;
  background: #065F8E;
  color: white;
  margin-left: -50px;
  border: 0;
  border-radius: 0px 6px 6px 0px;
}

/* 表單裡的頭圖 */
.profile-pic {
  width: 116px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 21px;
}

/* 姓名的input */
.nameInputs {
  margin: 27px 0 50px;
  border: 1px solid #868686;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  padding: 17px;
}

/* 所有input的格式 */
.allInputs {
  border: 1px solid #868686;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  margin-bottom: 5px;
  background-color: transparent;
}

/* 欄位提示小字 */
.TCnotice {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #CF2727;
  margin-bottom: 26px;
}

/* 自我介紹欄位 */
.TC-intro {
  border: 1px solid #868686;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 30px;
}

.TC-intro::placeholder {
  padding-top: 2.5%;
}

/* 聊天室 */
/* 對象選單 */
.chatList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

.chatList-content {
  margin-bottom: 30px;
}

.chatList .title {
  margin: 50px 0px;
  color: #065F8E;
  font-size: 36px;
  font-weight: bold;
}

.chatCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: .75rem;
  background-color: #F1F0E9;
  border-radius: 10px;
}

.chatCard-info {
  width: 75%;
}

.chatCard .chatCardAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px
}

.chatName {
  font-size: 18px;
  font-weight: bold;
}

.chatCard .notification {
  width: 12px;
  height: 12px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #065F8E;
}

.LastMessageAndTime {
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  margin: 0px;
  line-height: 15px;
  padding-bottom: 5px;
}

.lastMessage {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}

.chatCard:hover {
  background-color: #F1EF5B;
}

/* 對話視窗 */
.chatWindow {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  height: 690px;
}

.chatWindowHead {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px #F1F0E9;
}

.talkTo {
  display: flex;
  align-items: center;
}

.talkToAvatar {
  width: 50px;
  height: 50px;
  margin: 17px 10px;
  border-radius: 50%;
  overflow: hidden;
}

.talkToName {
  font-size: 24px;
  font-weight: bold;
}

.closeWindow {
  font-size: 27px;
  padding: 0px 30px;
  margin: auto 0px;
  margin-left: auto;
}

/* 對話框(左) */
.messageLeft {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.messageRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.messageAvatar {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .625rem;
  margin-left: .625rem;
}

.triangle-left {
  /* position: absolute;
  top: 147px;
  left: 60px; */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #F1F0E9 transparent transparent;
}

.message {
  z-index: 1;
  border-radius: 10px;
  width: 75%;
  padding: .5rem;
  font-size: 18px;
}

.message.left {
  background-color: #F1F0E9;
}

.message.right {
  background-color: #f1ef5b
}

/* 商城顯示的課程 */
.BuyCourseSection {
  display: flex;
  flex-wrap: wrap;
}

.BuyCourseItem {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
}

.BuyCourseImg {
  width: auto;
  height: 100%;
  border-radius: 30px;
}

.coursename {
  color: white;
  font-size: 14px;
  font-style: bold;
  top: 65%;
  left: 5%;
  margin-left: auto;
  position: absolute;
}

.teachername {
  color: white;
  font-size: 8px;
  font-style: bold;
  position: absolute;
  top: 75%;
  left: 5%;
}

.stars{
  position: absolute;
  bottom: 6%;
  left: 5%;
}

.fa-star {
  font-size: 12px;
  color: #BCC831;
}

.score {
  font-size: 10px;
  color: white;
  font-style: bold;
  position: absolute;
  top: 85%;
  left: 5%;
}

.price {
  font-size: 14px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 6%;
  right: 5%;
}


/* -------------以上為公用------------ */

/* 課程新增進度 */
.TCcourse-processBar {
  display: none;
}

/* 課程圖片上傳 */
.TCcourse-img-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}


/* 課程表單裡的圖  */
.TCcourse-pic-square {
  width: 271px;
  height: 271px;
  margin-bottom: 30px;
}

.btn-border-only {
  display: flex;
  height: 50px;
  border: 1px solid #065f8e;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

/* 課程新增的返回列表按鈕 */
.btn-border-only-no-h {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #065f8e;
  border-radius: 10px;
  color: #065f8e;
  font-size: 14px;
  font-weight: normal;
}

/* 上傳履歷的div */
.resume {
  display: flex;
}

/* 瀏覽按鈕 */
.browse {
  width: 100%;
  height: 48px;
  border: 0px;
  color: black;
  background-color: #f1ef5b;
  margin-left: -100px;
  border-radius: 0px 10px 10px 0px;
}

/* 預覽按鈕(桌機板) */
.preview-btn-top {
  display: none;
}

/* 預覽按鈕(行動裝置) */
.preview-btn {
  margin: 15px auto 30px;
}

/* 單獨一個按鈕在表單底部時 */
.one-btn {
  color: black;
  margin-bottom: 30px;
}

/* 單獨一個按鈕的顯示 */
.onebtn-switch {
  display: none;
}


/* 課程管理的欄位 */
.TCcourseLabel {
  display: none;
}

/* 課程卡片 */
.TCcourse-card {
  display: flex;
  justify-content: center;
  background: #F1F0E9;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

/* 課程圖片 */
.TCcourse-img {
  width: 8rem;
  height: 100px;
  margin-left: -15px;
  background: url("../.././public/images/course/日文課程.jpeg") no-repeat center / cover;
}

/* 課程的文字資訊 */
.TCcourse-info {
  width: 100%;
  padding: 8px 0px 8px 10px;
}

/* 課程名稱 */
.TCcourse-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 7px;
  letter-spacing: -0.015em;
}

/* 課程名稱除外的細節 */
.TCcourse-detail {
  font-size: 10px;
  transform: scale(0.8);
  transform-origin: left center;
  line-height: 15px;
  padding-right: 0;
}

/* 課程刪除按鈕 */
.TCcourse-delete {
  color: #065f8e;
  font-size: 18px;
  padding: 3px 10px 0px;
  margin-left: auto;
}

/* 影片上傳 */
.TCvideo-drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #868686;
  border-radius: 20px;
  padding: 25%;
  margin: 0px auto 30px;
  text-align: center;
}

.TCvideo-drop-zone>i {
  font-size: 50px;
}

.TCvideo-drop-zone>p {
  font-size: 20px;
  margin: 25px auto 5px;
}

.TCvideo-drop-zone>label {
  font-size: 12px;
  margin-bottom: 20px;
}



@media (min-width: 375px) {
  .TCnotify-text {
    font-size: 21px;
  }

  .nameInputs {
    margin: 27px 0 50px;
  }
}

@media (min-width: 768px) {

  body {
    font-size: 16px;
  }


  /* 網站主要導覽列 */
  .navbar {
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .mainContent {
    margin-top: 110px;
  }

  /* 麵包屑 */
  .breadcrumb {
    padding: 0px;
  }

  /* 頁面背景 */
  /* 圓圈的動畫 */
  @keyframes bc {
    0% {
      transform: scale(0.9);
    }

    10% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.9);
    }

    30% {
      transform: scale(1);
    }

    40% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.9);
    }

    70% {
      transform: scale(1);
    }

    80% {
      transform: scale(0.9);
    }

    90% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }

  /* 圓圈 */
  .dec-circle {
    display: block;
    position: absolute;
    z-index: -1;
    width: 262px;
    height: 262px;
    right: 26px;
    top: 189px;
    border: 4px dashed #065f8e;
    border-radius: 50%;
    animation: bc 150s linear infinite;
  }

  /* 圓圈-白 */
  .dec-circle-w {
    display: block;
    position: absolute;
    z-index: -1;
    width: 412px;
    height: 412px;
    right: -8rem;
    top: -12rem;
    border: 4px dashed white;
    border-radius: 50%;
    animation: bc 150s linear infinite;
  }

  /* 白色色塊 */
  .dec-white {
    width: 90%;
  }

  /* 黃色色塊(上) */
  .dec-block {
    height: 310px;
  }

  /* 地球 */
  .earth {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 724px;
  }

  /* 黃色色塊(下) */
  .dec-low-block {
    display: block;
    position: absolute;
    left: 70px;
    top: 1068px;
    width: 367px;
    height: 789px;
    transform: skew(-24.76deg);
    z-index: -1;
    background: #f1ef5b;
    border-radius: 30px;
    animation: 12s linear infinite;
  }

  /* 所有input欄位 */
  .allInputs {
    height: 50px;
  }

  /* 搜尋列 */
  .search {
    display: flex;
  }

  .search-mobile {
    display: none;
  }

  .searchbar {
    width: 100%;
  }

  /* 手機版logo */
  .logo-m {
    display: none;
  }

  /* 頁碼 */
  .Mypagination {
    display: flex;
  }


  /* 頁面英文標題 */
  .pageName {
    display: block;
    margin-bottom: 96px;
    margin-top: 96px;
    padding: 0;
  }

  .pageNameText {
    position: relative;
    color: black;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.0;
  }

  .profile::before {
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 36%;
    top: 42%;
  }

  .course::before {
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 20%;
    top: 42%;
  }

  .password::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 16%;
    top: 55%;
  }


  .analytics::before {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #f1ef5b;
    position: absolute;
    z-index: -5;
    left: 32%;
    top: 55%;
  }

  /* 會員中心sidebar */
  .sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  /* 頭像 */
  .sidebar .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* sidebar選項列 */
  .sidebar .nav-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
  }

  /* sidebar選項 */
  .sidebar .nav-item {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
    color: #065f8e;
  }

  .sidebar .nav-item>i {
    font-size: 25px;
    width: 40px;
    margin-left: 10%;
    background-color: transparent;
  }

  /* 選中的選項狀態 */
  .sidebar .nav-item.active {
    background-color: white;
  }

  .sidebar .nav-item.active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .sidebar .nav-item:hover {
    background-color: white;
  }

  /* 表單名稱 */
  .TCform-title {
    display: flex;
    margin: 50px 0px;
    font-size: 36px;
  }

  /* 表單 */
  .TCform {
    border: 2px solid rgba(6, 95, 142, 0.5);
    margin: 0px auto 150px;
  }

  /* 表單頭 */
  .TCform-head {
    margin: 0px;
  }

  /* 表單內容 */
  .TCform-content {
    width: 70%;
  }

  .TCsave-btn {
    margin: 60px 0;
  }

  /* -------------以上為公用--------- */

  /* 手機板會變小的按鈕 */
  .TCbtn-sm {
    display: flex;
    width: 115px;
    height: 40px;
  }

  /* 手機板會變小的按鈕(有display變化)  */
  .TCbtn-sm-w-switch {
    display: none;
  }


  /* 課程欄位列 */
  .TCcourseLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .TCcourseLabel-right {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0;
  }

  .TCcourseLabel .Labelitem {
    width: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  /* 課程卡片 */
  .TCcourse-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* 課程名稱 */
  .TCcourse-title {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .TCcourse-info-right {
    display: flex;
    justify-content: space-evenly;
  }

  .TCcourse-detail {
    transform: scale(1);
    width: 80px;
    text-align: center;
    font-size: 14px;
  }

  .TCcourse-detail span {
    display: none;
  }

  .TCcourse-delete {
    color: #065f8e;
    font-size: 18px;
    padding: 0px;
    margin: auto 15px;
  }

  /* 瀏覽按鈕 */
  .browse {
    height: 50px;
  }

  .TCnotify-text {
    font-size: 28px;
    margin: 0px auto
  }

  /* 課程圖片 */
  .TCcourse-img-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  /* 課程表單裡的圖 */
  .TCcourse-pic-square {
    width: 271px;
    height: 271px;
    margin-right: 20px;
    border: 1px solid #868686;
    border-radius: 10px;
  }


  /* 預覽按鈕(桌機板) */
  .preview-btn-top {
    display: block;
    margin-left: auto;
  }

  /* 預覽按鈕(手機) */
  .preview-btn {
    display: none;
  }

  /* 教師頁面返回按鈕 */
  .TCback-btn {
    display: none;
  }


  /* 課程新增的進度 */
  .TCcourse-processBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: auto 5rem;
    margin: 30px 0px 96px;
  }

  .TCcourse-processBarList {
    display: flex;
    list-style: none;
    margin: 0;
  }

  .TCcourse-processBar-item {
    position: relative;
    text-decoration: none;
    width: 150px;
  }

  .TCcourse-processBar-item a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
  }

  .TCcourse-processBar-item a i {
    padding-right: .5rem;
  }

  /* 目前所在的頁面 */
  .processBar-item::after {
    position: absolute;
    bottom: 4px;
    width: 70%;
    height: 5px;
    background-color: #065f8e;

  }

  /* 會員中心sidebar */
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  /* 頭像 */
  .sidebar .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* sidebar選項列 */
  .sidebar .nav_list {
    list-style: none;
    padding-left: 0;
    /* width: 100%; */
  }

  /* sidebar選項 */
  .sidebar .nav-item {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
  }

  .sidebar .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #065f8e;
    margin-left: 25px;
    background-color: transparent;
  }

  .sidebar .nav-item>a>i {
    font-size: 25px;
    width: 30px;
    background-color: transparent;
  }

  /* 選中的選項狀態 */
  .nav-item.active {
    background-color: white;
  }

  .nav-item.active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 50px;
    background: #f1ef5b;
  }

  .sidebar .nav-item:hover {
    background-color: white;
  }

  /* 自我介紹欄位 */
  .TC-intro {
    margin-bottom: 0px;
  }


  /* 單獨一個按鈕在表單底部時 */
  .one-btn {
    margin: 50px 0px 60px;
  }

  /* 單獨一個按鈕的顯示 */
  .onebtn-switch {
    display: block;
  }

  /* 課程名稱 */
  .TCcourse-title {
    width: 80%;
  }

  /* 審核提示窗 */
  .TCnotify {
    border: 2px solid rgba(6, 95, 142, 0.5);
  }

  /* 影片上傳 */
  .TCvideo-drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #868686;
    border-radius: 20px;
    padding: 25%;
    margin: 0px auto 135px;
    text-align: center;
  }

  /* 會員表格 */
  .company-table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .company-table .table th {
    text-align: center;
    line-height: 50px;
  }

  .company-table .table td {
    text-align: center;
    line-height: 50px;
  }

  /* 預覽頁面 */
  /* 個人資料 */
  .p-page-info {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .p-page-info .TCname {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 56px;
  }

  .p-page-info .TCp-intro {
    border: 4px solid #F1EF5B;
    border-radius: 5px;
    padding: 34px;
  }

  .TCp-intro {
    width: 80%;
  }

  .p-page-info .TCp-intro>p {
    font-size: 18px;
    margin: 0px;
  }

  .p-page-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 100px;
  }

  .p-page-title {
    font-size: 36px;
    font-weight: bold;
    color: #065F8E;
    margin-bottom: 50px;
  }

  .p-page-myCourse{
    margin-top: 80px;
  }
}