.vscode
node_modules
package-lock.json
public/images/

public/video/10 Tips for Better Video Conference Calls.mp4
public/video/Learn English Business Language in 2 Hours_001.mp4
public/video/Learn English Business Language in 2 Hours_002.mp4
public/video/c1ecc20a538d581ba7c8061bb40b4fa0dba013bd.mp4
public/video/Learn English Business Language in 2 Hours_003.mp4
public/video/Learn English Business Language in 2 Hours_004.mp4
public/video/Learn English Business Language in 2 Hours_005.mp4
public/video/Learn English Business Language in 2 Hours_006.mp4
public/video/Learn English Business Language in 2 Hours_007.mp4
public/video/Learn English Business Language in 2 Hours_008.mp4
public/video/Learn English Business Language in 2 Hours_009.mp4
public/video/Learn English Business Language in 2 Hours_010.mp4
public/video/Learn English Business Language in 2 Hours_011.mp4


public/video/日本人的姓氏.mp4
public/video/自我介紹.mp4
public/video/初次見面相見歡.mp4
public/video/美語家教.mp4
public/video/容易搞錯的日語.mp4
public/video/問路篇.mp4
public/video/基本履歷寫作技巧.mp4
public/video/常用日文單詞與句型.mp4
public/video/開始會議.mp4
public/video/餐廳Easy點.mp4
public/video/N5旅遊日語-身份篇.mp4
